<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<div class="grid-results margin-top-20" id="resultadosBusqueda">
	<md-tabs class="estiloTabs" md-selected="$ctrl.active" md-dynamic-height md-border-bottom>
		<md-tab label="Resultado de la búsqueda">
			<div id="mensajeBuscar" class="mensajesBusqueda" ng-if="$ctrl.vista == 1">
<!-- 	        	<h2>Busque un proceso</h2> -->
	        </div>
	        <div id="buscandoGif" style="display:table; height: 70vh;" ng-if="$ctrl.vista == 2">
	            <div class = "centered" style="display:table-cell; vertical-align: middle;">
					<div class = "blob-3"></div>
					<div class = "blob-4"></div>
				</div>
	        </div>
	        <div layout="row" layout-align="center center" ng-if="$ctrl.vista == 3">
                <h4 layout="row" layout-align="center center"><span class="material-icons-outlined md-padding">report_problem</span> No se ha encontrado ningún proceso</h4>
            </div>
		
			<div ng-if="$ctrl.vista == 4" class="ui-grid ui-grid-height-auto" ui-grid="$ctrl.gridOptions" ui-grid-resize-columns></div>
		</md-tab>
		<md-tab ng-repeat="detalles in $ctrl.numDetalles track by $index" label="Póliza: {{detalles.NU_POLIZA}}">
            <md-tab-label ng-if="detalles != null">
                <span ng-if="detalles.ID_PROCESO != undefined">Detalle de proceso {{detalles.ID_PROCESO}}</span>
                
                <div class="close" aria-label="Close" ng-click="$ctrl.cerrarTab(detalles)">
                    <span aria-hidden="true">×</span>
                </div>
            </md-tab-label>
            <md-tab-body>
                <sd-proceso llave="$ctrl.nomDetalles[$index]" detalles="detalles"></sd-proceso>
            </md-tab-body>

        </md-tab>
	</md-tabs>
</div>
