<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<div class="grid-results">
	<md-tabs class="estiloTabs" md-selected="$ctrl.active" md-dynamic-height md-border-bottom>
		<md-tab label="Resultado de la búsqueda">
			<div id="mensajeBuscar" class="mensajesBusqueda" ng-if="$ctrl.vista == 1">
	        	<!-- <h2>Busque un ramo</h2> -->
	        </div>
	        <div id="buscandoGif" style="display:table; height: 70vh;" ng-if="$ctrl.vista == 2">
<!-- 			            <h2>Buscando</h2> -->
	            <div class = "centered" style="display:table-cell; vertical-align: middle;">
					<div class = "blob-3"></div>
					<div class = "blob-4"></div>
				</div>
	        </div>
            <div layout="row" layout-align="center center" ng-if="$ctrl.vista == 3">
                <h4 layout="row" layout-align="center center"><span class="material-icons-outlined md-padding">report_problem</span> No se ha encontrado ningún programa</h4>
            </div>
	        
<!-- 	        <form ng-if="$ctrl.vista == 4" class="formClass" style="margin-top: 12px;" layout-gt-sm="row"> -->
<!-- 				<form name="$ctrl.formProgramas" style="margin-top: 12px;" layout-gt-sm="row"> -->
<!-- 					<md-input-container class="md-block" flex-gt-sm> -->
<!-- 	                    <label>{{ 'DESCRIPTION' | translate }}</label> -->
<!--                         <input ng-model="$ctrl.form.DS_PROGRAMA" ng-required="true"> -->
<!-- 	                </md-input-container> -->
<!-- 					<md-input-container class="md-block" flex-gt-sm> -->
<!-- 	                    <label>Emails (separados por comas)</label> -->
<!--                         <input ng-model="$ctrl.form.NO_EMAIL_CONTRATO" ng-required="true"> -->
<!-- 	                </md-input-container> -->
<!-- 	                <md-input-container class="md-block" flex-gt-sm> -->
<!-- 	                    <md-button class="dark-blue btnNuevo" style="margin-top: 0;" ng-click="$ctrl.addPrograma()"> -->
<!-- 							<md-icon>add</md-icon> -->
<!-- 							Añadir -->
<!-- 						</md-button> -->
<!-- 	                </md-input-container> -->
<!-- 	            </form> -->
<!--             </form> -->
		
			<div ng-if="$ctrl.vista == 4" class="ui-grid" ui-grid="$ctrl.gridOptions" ui-grid-pagination ui-grid-edit ui-grid-row-edit ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize resize ng-style="resizeHeight(370)"></div>
		
			<div layout="row" layout-align="center center" layout-margin>
				<md-button class="md-raised md-primary medium-blue button-action-main" ng-click="$ctrl.saveProgramas()" ng-if="$ctrl.vista == 4 && $ctrl.permisos.IN_ESCRITURA == true">
					<md-icon>save</md-icon>
					Guardar
				</md-button>
				<span></span>
				<span></span>
				<md-button class="md-raised md-primary medium-blue button-action-main" ng-click="$ctrl.deleteProgramas(true)" ng-if="$ctrl.vista == 4 && $ctrl.permisos.IN_BORRADO == true">
					<i class="fa fa-trash"></i>
					Borrar
				</md-button>
			</div>
			
		</md-tab>
	</md-tabs>
</div>