<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<md-toolbar>
	<div class="md-toolbar-tools" style="height:44px">
		<h2>Búsqueda de Concesiones <i class="fa fa-magnifying-glass"></i></h2>
        <md-button class="md-icon-button filtroLateral" ng-click="$ctrl.filtro.lateral()" style="right:20px; position:absolute">
            <md-icon aria-label="Close dialog">arrow_back_ios</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content>
	<form class="formClass" id="form" ng-submit="$ctrl.buscar('concesion')">
		<div>
			<div layout-gt-sm="row" class="margin-top-20">
		       	<!-- <md-input-container class="md-block" flex-gt-sm="100">
		         	<label>{{ 'INSURANCE_CARRIER' | translate }}</label>
		         	<md-select ng-model="$ctrl.form.ID_COMPANIA.value">
		         		<md-option ng-repeat="ase in $ctrl.tipos.companias" ng-value="ase.ID_COMPANIA">
		         			{{ase.NO_COMERCIAL}}
		         		</md-option>
		         	</md-select>
		       	</md-input-container> -->
				<md-autocomplete name="Aseguradora" md-no-cache="$ctrl.noCache" flex-gt-sm="100" class="autocompleteGeneral"
				   md-search-text="$ctrl.searchAseg"
				   md-items="item in $ctrl.parent.querySearch($ctrl.searchAseg, $ctrl.tipos.companias, 'NO_COMERCIAL')"
				   md-item-text="item.NO_COMERCIAL" md-min-length="0"
				   md-floating-label="Aseguradora"
				   md-selected-item="$ctrl.autocomplete.ASEG"
				   md-selected-item-change="$ctrl.form.ID_COMPANIA.value = $ctrl.autocomplete.ASEG.ID_COMPANIA"
			   >
				   <md-item-template>
					   <span md-highlight-text="$ctrl.searchAseg"
						   md-highlight-flags="^i">{{$ctrl.parent.parent.getDescriptivo(item, 'NO_COMERCIAL')}}</span>
				   </md-item-template>
				   <md-not-found>
					   No existe la aseguradora "{{$ctrl.searchAseg}}".
				   </md-not-found>
			   </md-autocomplete>
			</div>
			<div layout-gt-sm="row">
		       	<!-- <md-input-container class="md-block" flex-gt-sm>
		         	<label>Concesión</label>
		         	<md-select ng-model="$ctrl.form.ID_CLIENTE.value">
		         		<md-option ng-repeat="con in $ctrl.tipos.concesion" ng-value="con.ID_CLIENTE">
		         			{{con.NO_NOMBRE}}
		         		</md-option>
		         	</md-select>
		       	</md-input-container> -->
				   <md-autocomplete name="Concesión" md-no-cache="$ctrl.noCache" flex-gt-sm="100" class="autocompleteGeneral"
                	md-search-text="$ctrl.searchConcesion"
	                md-items="item in $ctrl.parent.querySearch($ctrl.searchConcesion, $ctrl.tipos.concesion, 'NO_NOMBRE')"
	                md-item-text="item.NO_NOMBRE" md-min-length="0"
	                md-floating-label="Concesión"
	                md-selected-item="$ctrl.autocomplete.CONCESION"
	                md-selected-item-change="$ctrl.form.ID_CLIENTE.value = $ctrl.autocomplete.CONCESION.ID_CLIENTE"
				>
	                <md-item-template>
	                    <span md-highlight-text="$ctrl.searchConcesion"
	                        md-highlight-flags="^i">{{item.NO_NOMBRE}}</span>
	                </md-item-template>
	                <md-not-found>
	                    No existe la concesión "{{$ctrl.searchConcesion}}".
	                </md-not-found>
	            </md-autocomplete>
			</div>
		</div>
		<div style="text-align:center;">
			<md-button class="md-raised md-primary medium-blue button-action-main" type="submit" ng-disabled="$ctrl.filtro.vista == 2">
				<i class="fa fa-magnifying-glass"></i>
				Buscar
			</md-button>
			<md-button class="md-raised md-primary medium-blue button-action-erase" ng-click="$ctrl.limpiar()" ng-disabled="$ctrl.filtro.vista == 2">
				<i class="fa fa-trash"></i>
				{{ 'CLEAN' | translate | uppercase }}
			</md-button>
		</div>
	</form>
</md-content>