<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<div flex>
	<uib-tabset active="$ctrl.indice" class="tabsPasos" type="pills" justified="true" flex="none">
		
		<!-- DATOS COLABORADOR -->

		<uib-tab index="1" heading="Datos del colaborador" class="btn-sm">
			<md-content layout="row" layout-align="center none" layout-padding class="formCliente formClass form-scroll" resize>
				<div flex>
					<form ng-submit="$ctrl.saveColaborador()" name="$ctrl.formColaborador" id="formSubmitColaborador">
						<legend><span class="mov-ico ic-ciber-ico-rellenoformulario"></span> Datos del colaborador</legend>
						<div class="margenPresupuestos" uib-collapse="isCollapsed">
							<div class="separadorDesplegables"></div>
							<div layout-gt-sm="row">
								<md-input-container class="flex" flex-gt-sm>
									<label>Nombre colaborador</label>
									<input ng-model="$ctrl.datos.NO_COMPANIA" required>
								</md-input-container>
								<md-input-container class="flex" flex-gt-sm>
									<label>Nombre Comercial</label>
									<input ng-model="$ctrl.datos.NO_COMERCIAL">
								</md-input-container>
								<md-input-container class="flex" flex-gt-sm>
									<label>CIF</label>
									<input ng-model="$ctrl.datos.NU_CIF" required>
								</md-input-container>
							</div>
							<div layout-gt-sm="row">
								<md-input-container class="flex" flex-gt-sm>
									<label>Dirección</label>
									<input ng-model="$ctrl.datos.NO_DIRECCION" required>
								</md-input-container>
								<md-input-container class="flex" flex-gt-sm>
									<label>Localidad</label>
									<input ng-model="$ctrl.datos.NO_LOCALIDAD" required>
								</md-input-container>
								<md-input-container class="flex" flex-gt-sm>
									<label>Código Postal</label>
									<input ng-model="$ctrl.datos.CO_POSTAL">
								</md-input-container>
							</div>
							<div layout-gt-sm="row">
								<md-input-container class="flex" flex-gt-sm>
									<label>{{ 'TELEPHONE' | translate }}</label>
									<input ng-model="$ctrl.datos.NU_TELEFONO">
								</md-input-container>
								<md-input-container class="flex" flex-gt-sm>
									<label>Fax</label>
									<input ng-model="$ctrl.datos.NU_FAX">
								</md-input-container>
								<md-input-container class="flex" flex-gt-sm>
									<label>Email</label>
									<input ng-model="$ctrl.datos.NO_EMAIL">
								</md-input-container>
							</div>
		
							<div layout-gt-sm="row" layout-align="start center">
								<md-checkbox> Acceso a WebService </md-checkbox>
								<md-checkbox ng-model="$ctrl.datos.IN_PLEYADE" ng-true-value="false" ng-false-value="true"> Cobro TS </md-checkbox>
							</div>

						</div>
					</form>
				</div>
			</md-content>
		</uib-tab>
			
		<!-- COMISIONES -->
		<uib-tab disable="$ctrl.formColaborador.$invalid" index="2" heading="Datos de las comisiones" class="btn-sm" ng-click="$ctrl.checkGrid($ctrl.gridApi)">
			<md-content layout="column" layout-align="center none" layout-padding class="formCliente formClass form-scroll" resize>
				
				<div class="ui-grid" ui-grid="$ctrl.gridOptions" ui-grid-pagination ui-grid-edit ui-grid-row-edit ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize resize ng-style="resizeHeight(330)"></div>
			
			</md-content>
		</uib-tab>

		<!-- CONTACTOS -->
		<uib-tab disable="$ctrl.formColaborador.$invalid" index="3" heading="Contactos" class="btn-sm" ng-click="$ctrl.checkGrid($ctrl.gridApiCon)">
			<md-content layout="row" layout-align="center none" layout-padding class="formCliente formClass form-scroll" resize>
				<div ng-if="$ctrl.load == true" class = "centered" style="display:table-cell; vertical-align: middle;">
					<div class = "blob-3"></div>
					<div class = "blob-4"></div>
				</div>
				<div ng-if="$ctrl.load != true" flex>	
					<div flex layout-gt-sm="row">
						<!-- <md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'NAME' | translate }}</label>
							<input ng-model="$ctrl.form.NO_PERSONA" required />
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Tipo de contacto</label>
							<md-select ng-model="$ctrl.form.TIPOCONTACTO" required>
									<md-option ng-repeat="tipo in $ctrl.listTiposContacto" ng-value="tipo">
									{{$ctrl.appParent.getDescriptivo(tipo, 'DS_TIPOS')}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'BRANCH' | translate }}</label>
							<md-select ng-model="$ctrl.form.RAMO">
								<md-option ng-repeat="ramo in $ctrl.listRamos" ng-value="ramo">
									{{$ctrl.appParent.getDescriptivo(ramo, 'NO_RAMO')}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Dirección</label>
							<input ng-model="$ctrl.form.NO_DIRECCION" />
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Email</label>
							<input ng-model="$ctrl.form.NO_EMAIL" required />
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>{{ 'TELEPHONE' | translate }}</label>
							<input type="number" ng-model="$ctrl.form.NU_TELEFONO1" />
						</md-input-container> -->
						<!-- <div class="spacer"></div>
						<md-input-container class="md-block">
							<md-button class="dark-blue btnNuevo" ng-click="$ctrl.addContacto()">
								<md-icon>add</md-icon>
								Añadir
							</md-button>
						</md-input-container> -->
					</div>
                   <div class="ui-grid" ui-grid="$ctrl.gridContactos" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-grouping resize ng-style="resizeHeight(320)"></div>
				</div>
			</md-content>
		</uib-tab>
	</uib-tabset>

	<div layout="row" layout-align="center none" class="margin-top-10">
		<md-button class="md-raised md-primary medium-blue button-action-main" ng-if="$ctrl.indice > 1" ng-click="$ctrl.anterior()">
			<md-icon>navigate_before</md-icon>
			Anterior
		</md-button>
		<md-button class="md-raised md-primary medium-blue button-action-main" ng-if="($ctrl.indice == 2 || $ctrl.indice == 3) && $ctrl.permisos.IN_ESCRITURA == true" ng-click="$ctrl.add()" form="{{$ctrl.formulario}}">
			<md-icon>add</md-icon>
			Añadir
		</md-button>
		<md-button class="md-raised md-primary medium-blue button-action-main" ng-if="($ctrl.indice == 2 || $ctrl.indice == 3) && $ctrl.permisos.IN_BORRADO == true" ng-click="$ctrl.delete($ctrl.indice)" form="{{$ctrl.formulario}}" ng-disabled="($ctrl.indice == 2 && ($ctrl.listaSeleccionados == null || $ctrl.listaSeleccionados.length == 0)) || ($ctrl.indice == 3 && (!$ctrl.lstSelectedContacts || $ctrl.lstSelectedContacts.length == 0))">
			<i class="fa fa-trash"></i>
			Borrar
		</md-button>
		<md-button type="submit" ng-if="$ctrl.permisos.IN_ESCRITURA == true" class="md-raised md-primary medium-blue button-action-main" form="formSubmitColaborador">
			<md-icon>save</md-icon>
			Validar y guardar
		</md-button>
		<md-button class="md-raised md-primary medium-blue button-action-main" ng-if="$ctrl.indice < 3" ng-click="$ctrl.siguiente($ctrl.indice)" form="{{$ctrl.formulario}}">
			<md-icon>navigate_next</md-icon>
			Siguiente
		</md-button>
	</div>
</div>