<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<div class="col-md-12 padding-0">
	<div flex class="formClass form-scroll margin-1-1_5" class="formMovEcon" id="formMovEcon">
		<div class="formClass form-scroll" id="formMovEcon" name="formMovEcon">
			<!--  -->
			
			<div layout="row" layout-align="start center" class="tabsSiniestroContainer">
				<div class="tabSiniestro" ng-click="$ctrl.tab = 1" ng-style="{ 'border-bottom' : ($ctrl.tab == 1) ? '2px solid #0066ff' : '' }"><p>Datos generales</p></div>
				<div class="tabSiniestro" ng-click="$ctrl.tab = 2; $ctrl.openSiniestro();" ng-style="{ 'border-bottom' : ($ctrl.tab == 2) ? '2px solid #0066ff' : '' }"><p>Siniestro</p></div>
			</div>
			
			<fieldset ng-hide="$ctrl.tab != 1" class="fade-out datos_poliza">
				<legend><span class="mov-ico ic-ciber-ico-precioeurosfactura"></span> Detalles movimiento
					<button id="btnDesplegarPoliza" type="button" class="btn btn-link" ng-click="isCollapsed = !isCollapsed">
						<span ng-if="!isCollapsed" class="glyphicon glyphicon-chevron-up btnMostrar" title="Mostrar Datos de la Póliza"></span>
						<span ng-if="isCollapsed" class="glyphicon glyphicon-chevron-down btnOcultar" title="Ocultar Datos de la Póliza"></span>
					</button>
				</legend>
				<div id="divPoliza" uib-collapse="isCollapsed">
					<div class="separadorDesplegables"></div>
					<div layout="row" layout-align="start start">
						<md-input-container class="flex" flex-gt-sm>
	                        <label>Siniestro</label>
	                        <input ng-model="$ctrl.datos.NU_SINIESTRO" disabled>
	                    </md-input-container>   
	                    <md-input-container class="flex" flex-gt-sm>
	                        <label>{{ 'MOVEMENT_NO' | translate }}</label>
	                        <input ng-model="$ctrl.datos.ID_MOV_ECOM" disabled>
	                    </md-input-container>
	                    <md-input-container class="flex" flex-gt-sm>
	                        <label>{{ 'MOVEMENT_OF_TYPE' | translate }}</label>
	                        <md-select ng-model="$ctrl.datos.CO_TIPOMOV" disabled>
								<md-option ng-repeat="tipo in $ctrl.tipos.movEcon" ng-value="tipo.CO_TIPO">{{ tipo.DS_TIPOS }}</md-option>
							</md-select>
	                    </md-input-container>
	                    <md-input-container ng-if="$ctrl.datos.IM_TOTAL == null || $ctrl.datos.IM_TOTAL == 0" class="flex" flex-gt-sm>
	                        <label>{{ 'TOTAL' | translate }}</label>
	                        <input ng-model="$ctrl.datos.IM_BASE" disabled>
	                    </md-input-container>
	                    <md-input-container ng-if="$ctrl.datos.IM_TOTAL != null && $ctrl.datos.IM_TOTAL != 0" class="flex" flex-gt-sm>
	                        <label>{{ 'TOTAL' | translate }}</label>
	                        <input ng-model="$ctrl.datos.IM_TOTAL" disabled>
	                    </md-input-container>
					</div>
					<div layout="row" layout-align="start start">
						<md-input-container ng-if="$ctrl.datos.oMovEconGaran.NO_GARANTIA_PADRE != null && $ctrl.datos.oMovEconGaran.NO_GARANTIA_PADRE != ''" class="flex" flex-gt-sm>
	                        <label>{{ 'AFFECTED_COVERAGE' | translate }}</label>
	                        <input ng-model="$ctrl.datos.oMovEconGaran.NO_GARANTIA_PADRE" disabled>
	                    </md-input-container>
	                    <md-input-container ng-if="$ctrl.datos.oMovEconGaran.DS_GARANTIA != null && $ctrl.datos.oMovEconGaran.DS_GARANTIA != ''" class="flex" flex-gt-sm>
	                        <label>
	                            <span>Sección / Cobertura afectada</span>
	                        </label>
	                        <input ng-model="$ctrl.datos.oMovEconGaran.DS_GARANTIA" disabled>
	                    </md-input-container>
	                    <md-input-container class="flex" flex-gt-sm>
			          		<md-checkbox ng-model="$ctrl.aprobado" ng-true-value=true ng-false-value=false ng-init="$ctrl.datos.oMovEconGaran.FD_APROBACION != null ? $ctrl.aprobado = true : false" disabled>
								{{ 'APPROVED' | translate }}
			          		</md-checkbox>
			          	</md-input-container>
			          	<div ng-if="$ctrl.datos.FICHEROS != null && $ctrl.datos.FICHEROS.length > 0" layout="row" layout-align="center center" flex="25">
			          		<md-input-container class="md-block" flex-gt-sm>
		                        <label>{{ 'FILE' | translate }}</label>
		                        <input ng-model="$ctrl.datos.FICHEROS[0].NO_ARCHIVO" disabled>
		                    </md-input-container>
							<i ng-if="archivo.DESCARGAR != false" class="material-icons btnIcono" ng-click="$ctrl.descargarArchivo($ctrl.datos.FICHEROS[0])">
		                        cloud_download <md-tooltip md-direction="top">{{ 'DOWNLOAD' | translate | uppercase }}</md-tooltip>
		                    </i>
			          	</div>
					</div>
					<div layout="row" layout-align="start start">
						<md-input-container class="flex" flex-gt-sm="15">
	                        <label>{{ 'DATE_MOVEMENT' | translate }}</label>
	                        <md-datepicker ng-model="$ctrl.datos.FT_MOV" disabled></md-datepicker>
	                    </md-input-container>
	                    <md-input-container class="flex" flex-gt-sm>
	                        <label>{{ 'DESCRIPTION' | translate }}</label>
	                        <input ng-model="$ctrl.datos.oMovEconGaran.DS_CONCEPTO" disabled>
	                    </md-input-container>
	                    <md-input-container class="flex" flex-gt-sm>
	                        <label>{{ 'SUPPLIER' | translate }}</label>
	                        <input ng-model="$ctrl.datos.DS_PERCEPTOR" disabled>
	                    </md-input-container>
					</div>
					<div layout="row" layout-align="start start">
	                    <md-input-container class="flex" flex-gt-sm>
	                        <label>{{ 'WAY_PAY' | translate }}</label>
	                        <md-select ng-model="$ctrl.datos.ID_FPAGO" disabled>
								<md-option ng-repeat="tipo in $ctrl.tipos.formaPagoList" ng-value="tipo.CO_TIPO">{{ tipo.DS_TIPOS }}</md-option>
							</md-select>
	                    </md-input-container>
	                    <md-input-container class="flex" flex-gt-sm>
	                        <label>{{ 'PAYMENT_STATUS' | translate }}</label>
	                        <md-select ng-model="$ctrl.datos.ID_SITPAGO" disabled>
								<md-option ng-repeat="tipo in $ctrl.tipos.estadoPagoList" ng-value="tipo.CO_TIPO">{{ tipo.DS_TIPOS }}</md-option>
							</md-select>
	                    </md-input-container>
						<md-input-container class="flex" flex>
	                        <label>{{ 'SAP_NO' | translate }}</label>
	                        <input ng-model="$ctrl.datos.NU_SAP" disabled>
	                    </md-input-container>
	                    <md-input-container class="flex" flex>
	                        <label>{{ 'SAP_DATE' | translate }}</label>
	                        <md-datepicker ng-model="$ctrl.datos.FD_SAP" disabled></md-datepicker>
	                    </md-input-container>
					</div>
				</div>
			</fieldset>
			
       		<fieldset class="fade-out datos_poliza" ng-hide="$ctrl.tab != 2">
				<div id="divPoliza">
                	<detalle-sd ng-if="$ctrl.detallesSiniestro != null && $ctrl.cargarSiniestro != true" id-detalle="$ctrl.detallesSiniestro" tipo="'siniestro'"></detalle-sd>
		   			<div ng-if="$ctrl.cargarSiniestro == true" id="buscandoGif" style="z-index: 999999999;">
				        <div class = "centered" style="display:table-cell; vertical-align: middle;">
							<div class = "blob-3"></div>
							<div class = "blob-4"></div>
						</div>
				    </div>
				</div>
			</fieldset>
		</div>
	</div>
</div>



