<pre-accidentes-app ng-if="$ctrl.tipoRamo == 60" detalles="$ctrl.detalles" tarifas="$ctrl.tarifas"></pre-accidentes-app>
<pre-asistencia-app ng-if="$ctrl.tipoRamo == 170" detalles="$ctrl.detalles" tarifas="$ctrl.tarifas"></pre-asistencia-app>
<pre-auto-app ng-if="$ctrl.tipoRamo == 10" tipo="1" detalles="$ctrl.detalles" tarifas="$ctrl.tarifas"></pre-auto-app>
<pre-decesos-app ng-if="$ctrl.tipoRamo == 230" detalles="$ctrl.detalles" tarifas="$ctrl.tarifas"></pre-decesos-app>
<pre-auto-app ng-if="$ctrl.tipoRamo == 11" tipo="3" detalles="$ctrl.detalles" tarifas="$ctrl.tarifas"></pre-auto-app>
<pre-proteccion-app ng-if="$ctrl.tipoRamo == 180" detalles="$ctrl.detalles" tarifas="$ctrl.tarifas"></pre-proteccion-app>
<pre-salud-app ng-if="$ctrl.tipoRamo == 50" detalles="$ctrl.detalles" tarifas="$ctrl.tarifas"></pre-salud-app>
<pre-dental-app ng-if="$ctrl.tipoRamo == 220" detalles="$ctrl.detalles" tarifas="$ctrl.tarifas"></pre-dental-app>
<pre-vida-app ng-if="$ctrl.tipoRamo == 200" detalles="$ctrl.detalles" tarifas="$ctrl.tarifas"></pre-vida-app>

<!-- <pre-multirriesgos-app ng-if="$ctrl.tipoRamo == 20 && $ctrl.idColectivo != 3" detalles="$ctrl.detalles" tarifas="$ctrl.tarifas"></pre-multirriesgos-app> -->
<pre-hogar-app ng-if="$ctrl.tipoRamo == 20" detalles="$ctrl.detalles" tarifas="$ctrl.tarifas"></pre-hogar-app>