<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<div class="formClass" id="form" ng-form="$ctrl.informeColaboradorTC" ng-init="$ctrl.LIQ_TEL = true; $ctrl.getFechaMediador()">
	<div class="filtroInformesContainer">
		<div class="tituloFiltroInformes">
			<h3>Liquidación colaborador TC</h3>
		</div>
		<div layout-gt-sm="row" class="margin-top-20">
			<md-input-container class="md-block ic-margin" flex-gt-sm>
				<label>{{ 'PRODUCT' | translate }}</label>
				<md-select ng-model="$ctrl.form.ID_PROGRAMA" disabled>
					<md-option ng-repeat="programa in $ctrl.tipos.programa" ng-value="programa.ID_PROGRAMA" ng-selected="programa.ID_PROGRAMA == 17">
						{{$ctrl.parent.getDescriptivo(programa, 'DS_PROGRAMA')}}
					</md-option>
				</md-select>
			</md-input-container>
	
			<md-input-container class="md-block" flex-gt-sm>
				<label>Nombre mediador</label>
				<md-select ng-model="$ctrl.form.ID_COMPANIA" disabled>
					<md-option ng-repeat="tipo in $ctrl.tipos.comisionistas" ng-value="tipo.ID_COMPANIA" ng-selected="tipo.ID_COMPANIA == 53">
						{{tipo.NO_COMPANIA}}
					</md-option>
				</md-select>
			</md-input-container>
		</div>
	
		<div layout-gt-sm="row" class="margin-top-20">
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{ 'PARTNER' | translate }}</label>
				<md-select ng-model="$ctrl.form.ID_TIPO_POLIZA" disabled>
					<md-option ng-repeat="tipo in $ctrl.tipos.colectivosProducto" ng-value="tipo.ID_TIPO_POLIZA" ng-selected="tipo.ID_TIPO_POLIZA == 1407">
						{{tipo.DS_TIPO_POLIZA}}
					</md-option>
				</md-select>
			</md-input-container>
	
			<md-input-container ng-if="$ctrl.form.IN_ENVIO_LIQ != false" class="md-block min-w-160 hide-validation-error" flex-gt-sm>
			  	<label>Fecha de efecto desde</label>

				<md-datepicker class="hide-validation-error" ng-click="($ctrl.fdCriterioFrom == null || $ctrl.fdCriterioFrom == undefined) ? $ctrl.fdCriterioFrom = null : ''" ng-model="$ctrl.fdCriterioFrom" required
					md-mode="month" md-date-locale="$ctrl.myDateFormat" md-max-date="$ctrl.maxDate" ng-change="$ctrl.changeFechaMesPartner('FD_CRITERIO_FROM')"></md-datepicker>
			</md-input-container>
	
			<md-input-container ng-if="$ctrl.form.IN_ENVIO_LIQ != false" class="md-block min-w-160 hide-validation-error" flex-gt-sm>
				<label>Fecha de efecto hasta</label>

				<!-- <md-datepicker class="hide-validation-error" ng-click="($ctrl.fdCriterioTo == null || $ctrl.fdCriterioTo == undefined) ? $ctrl.fdCriterioTo = null : ''" ng-model="$ctrl.fdCriterioTo" required
					md-mode="month" md-date-locale="$ctrl.myDateFormat" md-max-date="$ctrl.maxDateTo" md-min-date="$ctrl.minDateTo" ng-change="$ctrl.changeFechaMesPartner('FD_CRITERIO_TO')" ng-disabled="!$ctrl.fdCriterioFrom">
				</md-datepicker> -->
				<md-datepicker class="hide-validation-error" ng-model="$ctrl.fdCriterioTo" required md-mode="month" md-date-locale="$ctrl.myDateFormat" disabled>
				</md-datepicker>
		  	</md-input-container>
		</div>
	
		<div layout="row" layout-align="start center" ng-if="$ctrl.cargando == false">
			<div class="margin-top-20">
				<md-button class="fade-out md-raised md-primary medium-blue button-action-main" form="formInforme" ng-click="$ctrl.validarFormulario($ctrl.informeColaboradorTC.$valid, 'xls')">
					<i class="fa-duotone fa-download" style="margin-right: 5px"></i>
					{{ 'GENERATE_REPORT' | translate | uppercase}}
				</md-button>
				<md-button class="md-raised md-primary medium-blue button-action-erase" ng-click="$ctrl.limpiar($ctrl.form)">
					<i class="fa fa-trash" style="margin-right: 5px"></i>
					{{ 'CLEAN' | translate | uppercase }}
				</md-button>
			</div>
		</div>
	</div>

<!-- 	<div ng-if="$ctrl.mostrarRecibos == true" class="ui-grid" class="margin-top-20" ui-grid="$ctrl.gridInformesLiq" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize ui-grid-grouping ui-grid-selection resize></div> -->

	<div ng-if="$ctrl.cargando == true">
		<div layout="row" layout-align="center center" >
			<div class="cs-loader" style="height: 40px; width: 97%; position: relative">
				<div class="cs-loader-inner">
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
				</div>
			</div>
		</div>
		<div layout-gt-sm="row" layout-align="center">
			<p style="text-align:center;font-size: 11px">¡Recibido! Estamos procesando tu solicitud...</p>
		</div>
	</div>
</div>