<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<div class="formClass" id="form" ng-form="$ctrl.informePresupuesto">
	<div class="filtroInformesContainer">
		<div class="tituloFiltroInformes">
			<h3>INFORME DE PRESUPUESTOS</h3>
		</div>
		<div layout-gt-sm="row" class="margin-top-30">
			<md-input-container class="md-block" flex-gt-sm>
	         	<label>{{ 'PRODUCT' | translate }}</label>
	         	<md-select ng-change="$ctrl.changePrograma()" ng-model="$ctrl.ID_PROGRAMA">
					<md-option ng-repeat="programa in $ctrl.tipos.programa" ng-value="programa.ID_PROGRAMA">
	               		{{$ctrl.parent.getDescriptivo(programa, 'DS_PROGRAMA')}}
				 	</md-option>
				</md-select>
	       	</md-input-container>
			<!-- <md-input-container class="md-block ic-margin" flex-gt-sm>
				<label>{{ 'PARTNER' | translate }}</label>
				<md-select ng-model="$ctrl.form.LST_ID_TIPO_POLIZA" multiple>
					<md-option ng-class="{'optionPadre': colectivo.IS_PADRE == true, 'optionHijo': colectivo.IS_PADRE != true}" ng-click="$ctrl.changeColectivos(colectivo)" ng-repeat="colectivo in $ctrl.tipos.colectivosProducto" ng-value="colectivo.ID_TIPO_POLIZA">
						<span>{{colectivo.DS_TIPO_POLIZA}}</span>
					</md-option>
				</md-select>
			</md-input-container> -->
			<md-input-container class="md-block" flex-gt-sm>
				<label>{{ 'MEDIATOR' | translate }}</label>
				<!-- <md-select ng-model="$ctrl.form.LST_ID_MEDIADOR" multiple>
					<md-option ng-repeat="company in $ctrl.tipos.comisionistas" ng-value="company.ID_COMPANIA">
						{{company.NO_COMPANIA}}
				 	</md-option>
				</md-select> -->
				<md-select ng-model="$ctrl.form.LST_ID_MEDIADOR"
					md-on-close="$ctrl.searchTerm = ''"
					md-container-class="selectHeader"
					multiple>
					<md-select-header class="select-header">
						<input placeholder="Mediador" id="inputMediador" ng-model="$ctrl.searchTerm" type="search" class="header-searchbox md-text" />
					</md-select-header>
					<md-optgroup label="Mediador">
						<md-option ng-value="company.ID_COMPANIA" ng-repeat="company in $ctrl.tipos.comisionistas | filter: { NO_COMPANIA: $ctrl.searchTerm}">
							{{company.NO_COMPANIA}}
						</md-option>
					</md-optgroup>
				</md-select>
		 	</md-input-container>
			 <md-input-container class="md-block" flex-gt-sm>
				<label>{{ 'CHANNEL' | translate }}</label>
				<md-select ng-model="$ctrl.form.CO_SOURCE_ALTA">
					<md-option ng-repeat="channel in $ctrl.tipos.canales" ng-value="channel.CO_TIPO">
						{{channel.DS_TIPOS}}
				 	</md-option>
				</md-select>
			</md-input-container>
		</div>
		<div layout-gt-sm="row" class="margin-top-30">
			<!-- <div layout-gt-sm="row"> -->
	        	<md-input-container class="md-block min-w-160" flex-gt-sm="20">
	        		<label>F.Inicio desde...</label>
	          		<md-datepicker ng-click="($ctrl.form.FD_CRITERIO_FROM == null || $ctrl.form.FD_CRITERIO_FROM == undefined) ? $ctrl.form.FD_CRITERIO_FROM = null : ''" ng-model="$ctrl.form.FD_CRITERIO_FROM" required></md-datepicker>
	          	</md-input-container>
	          	<md-input-container class="md-block min-w-160" flex-gt-sm="20">
	          		<label>F. Inicio hasta...</label>
	          		<md-datepicker ng-click="($ctrl.form.FD_CRITERIO_TO == null || $ctrl.form.FD_CRITERIO_TO == undefined) ? $ctrl.form.FD_CRITERIO_TO = null : ''" ng-model="$ctrl.form.FD_CRITERIO_TO" required></md-datepicker>
	          	</md-input-container>
				<md-input-container class="md-block min-w-160" flex-gt-sm="20">
					<label>{{ 'DATE_ISSUANCE_FROM' | translate }}</label>
					<md-datepicker ng-click="($ctrl.form.FD_EMISION_FROM == null || $ctrl.form.FD_EMISION_FROM == undefined) ? $ctrl.form.FD_EMISION_FROM = null : ''" ng-model="$ctrl.form.FD_EMISION_FROM" ng-disabled="!$ctrl.form.IN_EMITIDO" ng-required="$ctrl.form.IN_EMITIDO"></md-datepicker>
				</md-input-container>
				<md-input-container class="md-block min-w-160" flex-gt-sm="20">
					<label>{{ 'DATE_ISSUANCE_TO' | translate }}</label>
					<md-datepicker ng-click="($ctrl.form.FD_EMISION_TO == null || $ctrl.form.FD_EMISION_TO == undefined) ? $ctrl.form.FD_EMISION_TO = null : ''" ng-model="$ctrl.form.FD_EMISION_TO" ng-disabled="!$ctrl.form.IN_EMITIDO" ng-required="$ctrl.form.IN_EMITIDO"></md-datepicker>
				</md-input-container>
				<md-input-container class="md-block max-w-100" flex-gt-sm="20" style="margin-top: 30px!important;">
					<md-checkbox ng-model="$ctrl.form.IN_EMITIDO" ng-init="$ctrl.form.IN_EMITIDO = false" ng-change="$ctrl.form.FD_EMISION_FROM = null;$ctrl.form.FD_EMISION_TO = null">
						Emitidos
					</md-checkbox>
				</md-input-container>
	    	<!-- </div> -->
		</div>
		<div layout-gt-sm="row">
			<span style="margin-top: 10px;font-size: 15px; color:#0066ff;">
				<i class="fa-solid fa-info" style="margin-right: 5px;font-size: 14px"></i>La extracción se realiza con datos del día anterior</span>
		</div>
		<!-- <div layout="row" layout-align="end center" ng-if="$ctrl.cargando == false"> -->
		<div layout="row" layout-align="start center" style="margin-top: 20px">
			<!-- <md-button class="md-raised md-primary dark-green" ng-click ="$ctrl.exportarExcel()"> -->
			<md-button class="md-raised md-primary medium-blue button-action-main" form="formInforme" ng-click="$ctrl.validarFormulario($ctrl.informePresupuesto.$valid, 'xls')" ng-disabled="$ctrl.cargando">
				<i class="fa-duotone fa-download" style="margin-right: 5px"></i>
				{{ 'GENERATE_REPORT' | translate | uppercase}}
			</md-button>
			<md-button class="md-raised md-primary medium-blue button-action-erase" ng-click="$ctrl.limpiar($ctrl.form)" ng-disabled="$ctrl.cargando">
				<i class="fa fa-trash" style="margin-right: 5px"></i>
				{{ 'CLEAN' | translate | uppercase }}
			</md-button>
		</div>
	</div>

	<div ng-if="$ctrl.cargando == true">
		<div layout="row" layout-align="center center" >
			<div class="cs-loader" style="height: 40px; width: 97%; position: relative">
				<div class="cs-loader-inner">
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
				</div>
			</div>
		</div>
		<div layout-gt-sm="row" layout-align="center">
			<p style="text-align:center;font-size: 11px">¡Recibido! Estamos procesando tu solicitud...</p>
		</div>
	</div>
</div>