<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<div class="formClass" id="form" ng-form="$ctrl.informeBordero">
	<div class="filtroInformesContainer">
		<div class="tituloFiltroInformes">
			<h3>Impuesto tirea</h3>
		</div>
		<div ng-if="$ctrl.form.IN_PENDIENTES == true" layout-gt-sm="row" class="margin-top-20">
			<md-input-container class="md-block" flex="25">
	         	<label>{{ 'PRODUCT' | translate }}</label>
	         	<md-select ng-change="$ctrl.changePrograma()" ng-model="$ctrl.ID_PROGRAMA" multiple>
					<md-option ng-if="programa.IN_PARTICULAR == '2'" ng-repeat="programa in $ctrl.tipos.programa" ng-value="programa.ID_PROGRAMA">
						{{$ctrl.parent.getDescriptivo(programa, 'DS_PROGRAMA')}}
				 	</md-option>
				</md-select>
	       	</md-input-container>
		</div>
		<div layout-gt-sm="row" class="margin-top-20" layout-align="start center">
			<md-input-container ng-if="$ctrl.form.IN_PENDIENTES != true" class="md-block datepicker-min-w" flex-gt-sm="20">
				<label>{{ 'DATE_SETTLEMENT' | translate }}</label>
				<md-datepicker ng-disabled="$ctrl.form.IN_PENDIENTES == true" ng-click="($ctrl.fechaMes == null || $ctrl.fechaMes == undefined) ? $ctrl.fechaMes = null : ''" ng-model="$ctrl.fechaMes"
							   md-mode="month" md-date-locale="$ctrl.myDateFormat" md-max-date="$ctrl.maxDate" ng-change="$ctrl.changeFechaMes()" required></md-datepicker>
			</md-input-container>
		</div>
		<div layout-gt-sm="row" layout-align="start center" style="margin-top: 20px!important">
			<md-input-container ng-if="$ctrl.form.IN_PENDIENTES != true" class="md-block" flex-gt-sm="20">
				<md-checkbox ng-model="$ctrl.form.isExcel">
					EN FORMATO EXCEL
				</md-checkbox>
			</md-input-container>
		</div>
		<div layout="row" layout-align="start center" ng-if="$ctrl.cargando == false" style="margin-top: 20px">
			<!-- <md-button class="md-raised md-primary dark-green" ng-click ="$ctrl.exportarExcel()"> -->
			<div>
				<md-button ng-if="($ctrl.mostrarRecibos == true && $ctrl.form.IN_PENDIENTES != true) || ($ctrl.form.IN_PENDIENTES != true) || $ctrl.mostrarRecibos == true" class="md-raised md-primary medium-blue button-action-main" form="formInforme" ng-click="$ctrl.validarFormulario($ctrl.informeBordero.$valid, 'informe', 'tireaTXTMensual')">
					{{ 'GENERATE_REPORT' | translate | uppercase}}
				</md-button>
			</div>
			
		</div>
	</div>
	
	<div ng-if="$ctrl.cargando == true">
		<div layout="row" layout-align="center center" >
			<div class="cs-loader" style="height: 40px; width: 97%; position: relative">
				<div class="cs-loader-inner">
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
				</div>
			</div>
		</div>
		<div layout-gt-sm="row" layout-align="center">
			<p style="text-align:center;font-size: 11px">¡Recibido! Estamos procesando tu solicitud...</p>
		</div>
	</div>
</div>