<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<div class="formClass" id="form" ng-form="$ctrl.informeAuditores">
	<h3>Auditores</h3>
	<div layout-gt-sm="row" class="margin-top-20">
		<md-input-container class="md-block" flex-gt-sm>
           	<label>Partner</label>
           	<md-select ng-model="$ctrl.form.ID_COLECTIVO" required ng-change="$ctrl.changeForm()">
           		<md-option ng-repeat="colectivo in $ctrl.colectivos" ng-value="colectivo.ID_TIPO_POLIZA">
               		{{$ctrl.parent.getDescriptivo(colectivo, 'DS_TIPO_POLIZA')}}
<!-- 	              	{{colectivo.DS_TIPO_POLIZA}} -->
	            </md-option>
           	</md-select>
        </md-input-container>
	</div>
	<div layout-gt-sm="row" class="margin-top-20">
		<!-- <md-input-container class="md-block" flex-gt-sm>
			<label>Cliente</label>
			<md-select ng-model="$ctrl.form.ID_CLIENTE" required>
           		<md-option ng-repeat="cliente in $ctrl.listaClientes" ng-value="cliente.ID_CLIENTE">
	              	{{col.NO_NOMBRE}} {{col.NO_APELLIDO1}} {{col.NO_APELLIDO2}} 
	            </md-option>
			</md-select>
		</md-input-container> -->
		<md-autocomplete flex-gt-sm required ng-init="$ctrl.clientes = []"
			md-no-cache = "true"
			md-selected-item="$ctrl.form.OCLIENTE"
			md-search-text="$ctrl.searchCliente"
			md-search-text-change="$ctrl.querySearchAsync($ctrl.searchCliente)"
			md-items="cliente in $ctrl.clientes"
			md-item-text="cliente.NO_NOMBRE_COMPLETO"
			md-min-length="3"
			md-delay="300"
			md-floating-label="Cliente">
			<md-item-template>
				<span md-highlight-text="$ctrl.searchCliente" md-highlight-flags="^i">{{cliente.NO_NOMBRE_COMPLETO}}</span>
			</md-item-template>
		</md-autocomplete>
	</div>
	<div layout-gt-sm="row">
		<div layout-gt-sm="row" class="margin-top-20">
        	<md-input-container class="md-block min-w-160" flex-gt-sm>
        		<label>F.Inicio desde...</label>

          		<md-datepicker ng-click="($ctrl.form.FD_CRITERIO_FROM == null || $ctrl.form.FD_CRITERIO_FROM == undefined) ? $ctrl.form.FD_CRITERIO_FROM = null : ''" ng-model="$ctrl.form.FD_CRITERIO_FROM" required></md-datepicker>
          	</md-input-container>
          	<md-input-container class="md-block min-w-160" flex-gt-sm>
          		<label>F. Inicio hasta...</label>

          		<md-datepicker ng-click="($ctrl.form.FD_CRITERIO_TO == null || $ctrl.form.FD_CRITERIO_TO == undefined) ? $ctrl.form.FD_CRITERIO_TO = null : ''" ng-model="$ctrl.form.FD_CRITERIO_TO" required></md-datepicker>
          	</md-input-container>
    	</div>
	</div>
	<div style="text-align:center" ng-if="$ctrl.cargando == false">
		<!-- <md-button class="md-raised md-primary dark-blue" ng-click ="$ctrl.exportarPDF()"> -->
		<md-button class="md-raised md-primary medium-blue button-action-main" form="formInforme" ng-click="$ctrl.validarFormulario($ctrl.informeAuditores.$valid, 'pdf')">
			<md-icon>picture_as_pdf</md-icon>
			Descargar PDF
		</md-button>
		<md-button class="md-raised md-primary medium-blue button-action-erase" ng-click="$ctrl.removeForm($ctrl.form)">
			<i class="fa fa-trash"></i>
			LIMPIAR
		</md-button>
	</div>

	<div id="buscandoGif" style="width: 100%; margin: 10% auto 0;" ng-if="$ctrl.cargando == true">
		<div class="centered" style="height: 100%; margin: 0 auto;">
			<div class="blob-3"></div>
			<div class="blob-4"></div>
		</div>
	</div>
</div>