<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools" style="height:44px">
            <h4 class="modal-title" style="text-align: center">Marcar Recibo {{$ctrl.recibo}} </h4>
			<md-button class="md-icon-button" ng-click="$ctrl.cancel()" style="right:10px; position:absolute">
	            <md-icon aria-label="Close dialog">clear</md-icon>
	        </md-button>
        </div>
    </md-toolbar>

    <ng-dialog-content style="height: 25%" class="md-dialog-content formCliente formClass">
        <div layout="column">
            <md-input-container layout="column" style="margin: 10px;" flex-gt-sm>
                <span style="text-transform: uppercase;text-align: left"><b>{{ 'POLICY_NU' | translate }}: </b>{{$ctrl.nuPoliza}}</span>
                <span style="text-transform: uppercase;text-align: left"><b>{{ 'MEDIATOR' | translate }}: </b>{{$ctrl.mediador}}</span>
                <span style="text-transform: uppercase;text-align: left"><b>Gestionar a Estado: </b>{{$ctrl.estado}}</span>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
        		<label>Nueva fecha {{$ctrl.estado}}</label>

          		<md-datepicker required ng-model="$ctrl.fecha" ng-init="$ctrl.fecha = null"></md-datepicker>
          	</md-input-container>
        </div>
        <div flex="100" layout-gt-sm="row">
            <md-button class="md-raised md-primary medium-blue button-action-main" ng-click="$ctrl.gestionarRecibo()" ng-disabled="$ctrl.fecha == null || $ctrl.fecha == ''">
                <i class="fa-duotone fa-check-double"></i>
                Gestionar Recibo
            </md-button>
        </div>
    </ng-dialog-content>
</md-dialog>