<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<md-dialog style="width:35%">
	<md-toolbar style="min-height:34px;">
		<div class="md-toolbar-tools" style="height:44px">
			<h2>Asociar aseguradora</h2>
			<md-button class="md-icon-button" ng-click="$ctrl.cancel()" style="right:20px; position:absolute">
	          <md-icon aria-label="Close dialog">clear</md-icon>
	        </md-button>
        </div>
	</md-toolbar>
	<md-dialog-content style="height:150px;">
		<form style="margin-top: 20px;" class="formClass">
        	<div layout="row" flex="100" style="margin-top: 10px; margin-left:23px">
	        	<md-input-container class="md-block" flex-gt-sm>
					<label>Seleccione la aseguradora: </label>
					<md-select ng-model="$ctrl.aseguradoraSeleccionada" required>
						<md-option ng-repeat="aseguradora in $ctrl.listAseguradoras" ng-value="aseguradora">{{aseguradora.NO_COMPANIA}}</md-option>
						<md-option disabled ng-if="$ctrl.listAseguradoras==undefined || $ctrl.listAseguradoras==null || $ctrl.listAseguradoras.length==0">No existe ninguna aseguradora</md-option>
					</md-select>
				</md-input-container>
        	</div>
        	<div layout="row" flex="100" style="margin-top: 10px; margin-left:20px">
	        	<md-input-container class="md-block" flex-gt-sm>
					<md-button ng-click="$ctrl.asociar($ctrl.aseguradoraSeleccionada)" class="dark-blue btnNuevo">Asociar aseguradora</md-button>
				</md-input-container>
        	</div>
		</form>
	</md-dialog-content>
</md-dialog>
