<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<md-dialog style="width:45%;">
	<md-toolbar style="background-color: white; min-height:25px;">
		<div class="md-toolbar-tools" style="height:44px">
			<h2>CAMBIO DE BANDA</h2>
			<md-button class="md-icon-button" ng-click="$ctrl.cancel()" style="right:20px; position:absolute">
	            <md-icon aria-label="Close dialog">clear</md-icon>
	        </md-button>
        </div>
	</md-toolbar>
	<md-dialog-content>
		<form name="$ctrl.formCambioBanda" id="formCambioBanda" flex class="formClass md-padding">
			<div layout="row" layout-align="center center">
                <h5>{{ $ctrl.datos.brandName + " " + $ctrl.datos.modelName }}</h5>
			</div>
			<div layout="row" layout-align="center center" class="margin-top-20">
				<md-input-container class="md-block hide-validation-error" flex-gt-sm="20">
                    <label>Banda actual</label>
                    <md-select ng-model="$ctrl.datos.idBanda" disabled>
						 <md-option ng-value="1">Banda 1</md-option>
						 <md-option ng-value="2">Banda 2</md-option>
						 <md-option ng-value="3">Banda 3</md-option>
						 <md-option ng-value="4">Banda 4</md-option>
						 <md-option ng-value="5">Banda 5</md-option>
						 <md-option ng-value="6">Banda 6</md-option>
		         	</md-select>
                </md-input-container>
				<md-input-container class="md-block hide-validation-error" flex-gt-sm="20">
                    <label>Banda</label>
                    <md-select ng-model="$ctrl.form.band" required>
						 <md-option ng-value="1">Banda 1</md-option>
						 <md-option ng-value="2">Banda 2</md-option>
						 <md-option ng-value="3">Banda 3</md-option>
						 <md-option ng-value="4">Banda 4</md-option>
						 <md-option ng-value="5">Banda 5</md-option>
						 <md-option ng-value="6">Banda 6</md-option>
		         	</md-select>
                </md-input-container>
			</div>
			
			<div layout="row" class="margin-top-20" layout-align="center center" ng-if="$ctrl.cargar != true">
				<md-button class="md-raised md-primary medium-blue button-action-main btnNextCiber" ng-click="$ctrl.save()"><i class="fa-light fa-check-double" style="margin-right: 5px"></i> CONFIRMAR CAMBIO DE BANDA</md-button>
			</div>
			<div class="cs-loader" ng-if="$ctrl.cargar == true" style="height: auto; width: 97%; position: relative; height: 40px;">
				<div class="cs-loader-inner">
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
					<label>●</label>
				</div>
			</div>
	</md-dialog-content>
</md-dialog>