<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<md-dialog style="width:45%">
	<md-toolbar style="min-height:34px;">
		<div class="md-toolbar-tools" style="height:44px">
			<h2>Garantías</h2>
			<md-button class="md-icon-button" ng-click="$ctrl.cancel()" style="right:20px; position:absolute">
	          <md-icon aria-label="Close dialog">clear</md-icon>
	        </md-button>
        </div>
	</md-toolbar>
	<ng-dialog-content style="height:250px;">
		<div class="md-dialog-content form-scroll">
			<div layout="row" flex="100"  ng-if="$ctrl.garantias!=null || $ctrl.garantias!=undefined || $ctrl.garantias>0" ng-repeat="garantia in $ctrl.garantias" style="margin-top: 20px; padding-left:20px">
	        	<md-input-container class="md-block" flex-gt-sm>
	           		<label>Garantía</label>
	           		<label ng-model="garantia.NO_GARANTIA">
	           	</md-input-container>
	           	<md-input-container class="md-block" flex-gt-sm>
	           		<label>Capital</label>
	           		<label ng-model="garantia.NU_CAPITAL">
	           	</md-input-container>
	           	<md-input-container class="md-block" flex-gt-sm>
	           		<label>Prima neta</label>
	           		<label ng-model="garantia.NU_PRIMA_NETA">
	           	</md-input-container>
        	</div>
        	<div layout="row" ng-if="$ctrl.garantias==null || $ctrl.garantias==undefined || $ctrl.garantias==0" layout-align="center center"  >
	       		<h2>No se ha encontrado ninguna garantía</h2>
	        </div>
		</div>
	</ng-dialog-content>
</md-dialog>
