<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<md-dialog style="width: 80%">
  <md-toolbar>
    <div class="md-toolbar-tools" style="height:44px">
      <h4 class="modal-title" style="text-align: center">DETALLE DE COBERTURAS - TABLA COMPARATIVA</h4>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()" style="right:20px; position:absolute">
        <md-icon aria-label="Close dialog">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content style="min-height:260px;">    
    <form style="margin-top: 20px;" class="formClass">
      <div layout="row" flex="100" style="margin-top: 10px; margin-left:10px; margin-right: 10px;">

        <div class="comparison comparison-sl">

          <table style="margin: 15px; padding: 15px; ">
            <thead>

              <tr class="tsm">
                <th class="tl"></th>
                <th class="compare-heading">
                  <div class="ico-wrapper">
                    <div class="ico-wrapper-lista ico-wrapper-lista-bottom" >
                      <span class="text">Básico Plus</span>
                    </div>
                  </div>
                </th>
                <th class="compare-heading">
                  <div class="ico-wrapper">
                    <div class="ico-wrapper-lista ico-wrapper-lista-bottom" >
                      <span class="text">Ampliado</span>
                    </div>
                  </div>

                </th>
                <th class="compare-heading">
                  <div class="ico-wrapper">
                    <div class="ico-wrapper-lista ico-wrapper-lista-bottom" >
                      <span class="text">Premium</span>
                    </div>
                  </div>
                </th>

              </tr>

            </thead>
            <tbody>
              <tr class="tsm">
                <td class="tsg tsg c_"></td>
                <td class="title-mobile" colspan="3">Cobertura para continente y contenido en caso de incendio</td>
              </tr>
              <tr class="compare-row">
                <td class="title">Cobertura para continente y contenido en caso de incendio</td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>

              </tr>
              <tr class="tsm">
                <td class="tsg tsg c_">&nbsp;</td>
                <td class="title-mobile" colspan="3">Daños por agua</td>
              </tr>
              <tr class="tsm">
                <td class="title">Daños por agua</td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>

              </tr>
              <tr class="tsm">
                <td class="tsg tsg c_">&nbsp;</td>
                <td class="title-mobile" colspan="3">Daños por la electricidad, etc.</td>
              </tr>
              <tr class="compare-row">
                <td class="title">Daños por la electricidad, etc.</td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>

              </tr>
              <tr class="tsm">
                <td class="tsg tsg c_">&nbsp;</td>
                <td class="title-mobile" colspan="3">Roturas de lunas, espejos, mármoles, aparatos sanitarios fijos,
                  etc.</td>
              </tr>
              <tr class="tsm">
                <td class="title">Roturas de lunas, espejos, mármoles, aparatos sanitarios fijos, etc.</td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>

              </tr>
              <tr class="tsm">
                <td class="tsg tsg c_">&nbsp;</td>
                <td class="title-mobile" colspan="3">Robo, hurto y atraco fuera del hogar</td>
              </tr>
              <tr class="compare-row">
                <td class="title">Robo, hurto y atraco fuera del hogar</td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>

              </tr>
              <tr class="tsm">
                <td class="tsg tsg c_">&nbsp;</td>
                <td class="title-mobile" colspan="3">Acceso a la mejor red de profesionales de reparaciones y
                  mantenimiento del hogar</td>
              </tr>
              <tr class="tsm">
                <td class="title">Acceso a la mejor red de profesionales de reparaciones y mantenimiento del hogar</td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>

              </tr>
              <tr class="tsm">
                <td class="tsg tsg c_">&nbsp;</td>
                <td class="title-mobile" colspan="3">Protección jurídica</td>
              </tr>
              <tr class="compare-row">
                <td class="title">Protección jurídica</td>
                <td class="tsg tsg c_">Opcional</td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>

              </tr>
              <tr class="tsm">
                <td class="tsg tsg c_">&nbsp;</td>
                <td class="title-mobile" colspan="3">Asistencia</td>
              </tr>
              <tr class="tsm">
                <td class="title">Asistencia</td>
                <td class="tsg tsg c_">Opcional</td>
                <td class="tsg tsg c_">2 veces año</td>
                <td class="tsg tsg c_">Ilimitada</td>

              </tr>
              <tr class="tsm">
                <td class="tsg tsg c_">&nbsp;</td>
                <td class="title-mobile" colspan="3">Bricoasistencia</td>
              </tr>
              <tr class="compare-row">
                <td class="title">Bricoasistencia</td>
                <td class="tsg tsg c_"><span class="tickred">X</span></td>
                <td class="tsg tsg c_"><span class="tickred">X</span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>

              </tr>
              <tr class="tsm">
                <td class="tsg tsg c_">&nbsp;</td>
                <td class="title-mobile" colspan="3">Reposición estética</td>
              </tr>
              <tr class="tsm">
                <td class="title">Reposición estética</td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>
                <td class="tsg tsg c_"><span class="tickblue ic-ciber-checkmark"></span></td>

              </tr>
              <tr class="tsm">
                <td class="tsg tsg c_">&nbsp;</td>
                <td class="title-mobile" colspan="3">Responsabilidad Civil</td>
              </tr>
              <tr class="compare-row">
                <td class="title">Responsabilidad Civil</td>
                <td class="tsg tsg c_">150.000€</td>
                <td class="tsg tsg c_">300.000€</td>
                <td class="tsg tsg c_">300.000€</td>

              </tr>

            </tbody>
            <tfoot>
              
              <tr class="tsm">
                <th class="tl"></th>
                <th class="btn-footer text-center">
                  <div>
                    <p><span class="link-modal" ng-click="$ctrl.verCoberturas(245)">ver todas las coberturas</span></p>
                  </div>
                </th>
                <th class="btn-footer text-center">
                  <div>
                    <p><span class="link-modal" ng-click="$ctrl.verCoberturas(246)">ver todas las coberturas</span></p>
                  </div>
                </th>
                <th class="btn-footer text-center">
                  <div>
                    <p><span class="link-modal" ng-click="$ctrl.verCoberturas(247)">ver todas las coberturas</span></p>
                  </div>
                </th>

              </tr>

            </tfoot>
          </table>

        </div>
      </div>
    </form>
  </md-dialog-content>
</md-dialog>