<div flex>
    <uib-tabset active="$ctrl.indice" class="tabsPasos" type="pills" justified="true">
        <uib-tab index="1" heading="Resumen" class="btn-sm">
            <md-content layout="row" layout-align="center none" layout-padding class="formCliente formClass form-scroll">
                <div flex>
                
                    <!---------------- USO Y RÉGIMEN DE LA VIVIENDA ------------------------>
                    <legend>Localización de la vivienda</legend>
                        <div class="separadorDesplegables"></div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Código postal</label>
                                <input disabled ng-init="$ctrl.updateDir('BLOCK_DIRECCION_VIVIENDA', $ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.CO_POSTAL, true)" ng-change="$ctrl.updateDir('BLOCK_DIRECCION_VIVIENDA', $ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.CO_POSTAL)"
                                    ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.CO_POSTAL" disabled required>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Localidad</label>
                                <md-select ng-disabled="true" ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_LOCALIDAD" required disabled>
                                    <md-option ng-value="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_LOCALIDAD">{{$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_LOCALIDAD}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Provincia</label>
                                <md-select ng-disabled="true" ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.CO_PROVINCIA" required disabled>
                                    <md-option ng-value="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.CO_PROVINCIA">{{$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.DS__CO_PROVINCIA}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <fieldset ng-disabled="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.CO_POSTAL == undefined || $ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_LOCALIDAD == undefined || $ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.CO_PROVINCIA == undefined">
                            <!-- ***CATASTRO OK*** -->
                            <div layout-gt-sm="row" ng-if="($ctrl.estadoCatastro != undefined && $ctrl.estadoCatastro == 0) || ($ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.ID_TIPO_VIA != null && $ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.ID_TIPO_VIA != undefined)">
                                <md-autocomplete disabled name="Via" flex-gt-sm required md-no-cache="true"
                                    md-search-text="$ctrl.textoBusquedaVia"
                                    md-selected-item="$ctrl.tipoViaSeleccionada"
                                    md-selected-item-change="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.ID_TIPO_VIA = $ctrl.tipoViaSeleccionada.ID_TIPO_VIA"
                                    md-items="via in $ctrl.querySearch($ctrl.textoBusquedaVia, $ctrl.tipos.tiposVia, 'DS_TIPO_VIA')"
                                    md-item-text="via.DS_TIPO_VIA" md-min-length="0" md-require-match
                                    md-floating-label="Tipo de vía">
                                    <md-item-template>
                                        <span md-highlight-text="$ctrl.textoBusquedaVia"
                                            md-highlight-flags="^i">{{via.DS_TIPO_VIA}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No existe el tipo de vía '{{$ctrl.textoBusquedaVia}}'.
                                    </md-not-found>
                                </md-autocomplete>
                                
                                <md-autocomplete disabled name="NombreVia" flex-gt-sm required md-no-cache="true"
                                    ng-init="$ctrl.listaVias = []"
                                    md-selected-item="$ctrl.viaSeleccionada"
                                    md-selected-item-change="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_DIRECCION = via"
                                    md-search-text="$ctrl.textoBusquedaNombreVia"
                                    md-search-text-change="$ctrl.buscarVias($ctrl.textoBusquedaNombreVia)"
                                    md-items="via in $ctrl.querySearch($ctrl.textoBusquedaNombreVia, $ctrl.listaVias, 'via')"
                                    md-item-text="via" md-min-length="3" md-require-match
                                    md-floating-label="Nombre de vía">
                                    <md-item-template>
                                        <span md-highlight-text="$ctrl.textoBusquedaNombreVia"
                                            md-highlight-flags="^i">{{via}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No existe la vía '{{$ctrl.textoBusquedaNombreVia}}'.
                                    </md-not-found>
                                </md-autocomplete>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Número</label>
                                    <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NU_NUMERO" required disabled>
                                </md-input-container>


                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Bloque</label>
                                    <md-select ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_PORTAL" ng-value="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_PORTAL" ng-change="$ctrl.listarPisos('bloque')" disabled>
                                        <md-option ng-value="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_PORTAL" >{{$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_PORTAL}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Escalera</label>
                                    <md-select ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_ESCALERA" ng-value="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_ESCALERA" ng-change="$ctrl.listarPisos('escalera')" disabled>
                                        <md-option ng-value="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_ESCALERA" >{{$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_ESCALERA}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Planta</label>
                                    <md-select ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NU_PLANTA" ng-value="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NU_PLANTA" ng-change="$ctrl.listarPisos('planta')" disabled>
                                        <md-option ng-value="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NU_PLANTA" >{{$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NU_PLANTA}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Puerta</label>
                                    <md-select ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_PUERTA" ng-value="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_PUERTA" disabled>
                                        <md-option ng-value="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_PUERTA">{{$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_DIRECCION_VIVIENDA.NO_PUERTA}}</md-option>
                                    </md-select>
                                </md-input-container>

                            </div>

                        </fieldset>
		            	
		            
		            <!---------------- DIRECCIÓN DE LA VIVIENDA ------------------------>
		            <legend>Información de la vivienda</legend>
                        <div class="separadorDesplegables"></div>

                        <!-- Santa Lucía -->

                        <div layout-gt-sm="row" ng-if="$ctrl.codAseguradora != undefined && $ctrl.codAseguradora == 1">
                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>Tipo de vivienda</label>
                                <md-select ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_INFORMACION_VIVIENDA.ID_TIPO_VIVIENDA" required disabled>
                                    <md-option ng-repeat="tipoVivienda in $ctrl.tiposVivienda" ng-value="tipoVivienda.CO_FIELD">{{tipoVivienda.DS_FIELD}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>Propietario o inquilino</label>
                                <md-select ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_USO_REGIMEN.ID_REGIMEN_VIVIENDA" required disabled>
                                    <md-option ng-repeat="tipoRegimen in $ctrl.regimenesVivienda" ng-value="tipoRegimen.CO_FIELD">{{tipoRegimen.DS_FIELD}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>Uso de la vivienda</label>
                                <md-select ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_USO_REGIMEN.ID_USO_VIVIENDA" required disabled>
                                    <md-option ng-repeat="tipoUso in $ctrl.usosVivienda" ng-value="tipoUso.CO_FIELD">{{tipoUso.DS_FIELD}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>Localización</label>
                                <md-select disabled ng-init="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_INFORMACION_VIVIENDA.ID_SITUACION_VIVIENDA = '01'" ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_INFORMACION_VIVIENDA.ID_SITUACION_VIVIENDA" required>
                                    <md-option ng-repeat="tipoLocalizacion in $ctrl.situacionesVivienda" ng-value="tipoLocalizacion.CO_FIELD">{{tipoLocalizacion.DS_FIELD}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>Ocupación vivienda</label>
                                <md-select ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_USO_REGIMEN.IN_VIVIENDA_DESOCUPADA" required disabled>
                                    <md-option ng-value="'01'">Habitada</md-option>
                                    <md-option ng-value="'02'">Deshabitada</md-option>
                                </md-select>
                            </md-input-container>
						</div>
						<div style="margin-top: 40px;" layout-gt-sm="row" ng-if="$ctrl.codAseguradora != undefined && $ctrl.codAseguradora == 1">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Año construcción</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_INFORMACION_VIVIENDA.NU_ANIO_CONSTRUCCION" required disabled>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Superficie (m<sup>2</sup>)</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_INFORMACION_VIVIENDA.CA_METROS_CUADRADOS" required disabled>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Anexos (m<sup>2</sup>)</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_INFORMACION_VIVIENDA.IM_SUPERFICIE_ANEXA" disabled>
                            </md-input-container>
						</div>

                        <!-- BBVA -->

                        <div layout-gt-sm="row" ng-if="$ctrl.codAseguradora != undefined && $ctrl.codAseguradora == 2">
                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>Tipo de vivienda</label>
                                <md-select ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_INFORMACION_VIVIENDA.ID_TIPO_VIVIENDA" required disabled>
                                    <md-option ng-repeat="tipoVivienda in $ctrl.tiposVivienda" ng-value="tipoVivienda.CO_FIELD">{{tipoVivienda.DS_FIELD}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>Propietario o inquilino</label>
                                <md-select ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_USO_REGIMEN.ID_REGIMEN_VIVIENDA" required disabled>
                                    <md-option ng-repeat="tipoRegimen in $ctrl.regimenesVivienda" ng-value="tipoRegimen.CO_FIELD" ng-selected="tipoRegimen.CO_FIELD == 01">{{tipoRegimen.DS_FIELD}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>Uso de la vivienda</label>
                                <md-select ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_USO_REGIMEN.ID_USO_VIVIENDA" required disabled>
                                    <md-option ng-repeat="tipoUso in $ctrl.usosVivienda" ng-value="tipoUso.CO_FIELD">{{tipoUso.DS_FIELD}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Año construcción</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_INFORMACION_VIVIENDA.NU_ANIO_CONSTRUCCION" required disabled>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Superficie (m<sup>2</sup>)</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_INFORMACION_VIVIENDA.CA_METROS_CUADRADOS" required disabled>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Anexos (m<sup>2</sup>)</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_INFORMACION_VIVIENDA.IM_SUPERFICIE_ANEXA" disabled>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Zonas comunes (m<sup>2</sup>)</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_INFORMACION_VIVIENDA.NU_METROS_COMUNES" disabled>
                            </md-input-container>
                        </div>
		            	
		            <!---------------- DATOS DEL TOMADOR ------------------------>
		            <legend>Continente y contenido</legend>
                        <div class="separadorDesplegables"></div>

                        <!-- Santa Lucía -->

                        <div layout-gt-sm="row" ng-if="$ctrl.codAseguradora != undefined && $ctrl.codAseguradora == 1">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Continente</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_CAPITALES.IM_VALOR_CONTINENTE" required disabled>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Contenido</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_CAPITALES.IM_VALOR_CONTENIDO" required disabled>
                            </md-input-container>

                        </div>

                        <!-- BBVA -->

                        <div layout-gt-sm="row" ng-if="$ctrl.codAseguradora != undefined && $ctrl.codAseguradora == 2">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Construcción principal</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_CAPITALES.IM_VALOR_CONTINENTE" required disabled>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Anexos</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_CAPITALES.IM_VALOR_ANEXOS" disabled>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Instalaciones adicionales</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_CAPITALES.IM_VALOR_COMUNES" disabled>
                            </md-input-container>
                            
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Contenido de la vivienda</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_CAPITALES.IM_VALOR_CONTENIDO" disabled
                                    required>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Bienes especiales</label>
                                <input ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.BLOCK_CAPITALES.IM_OBJETOS_VALOR_EN_VIVIENDA" disabled>
                            </md-input-container>
                        </div>	
		            	
		            <!---------------- INFORMACIÓN DE LA VIVIENDA ------------------------>
		            <legend>Configuración de Seguro Hogar Movistar</legend>

                        <div class="separadorDesplegables"></div>
                        <div layout-gt-sm="row" flex="50">

                            <md-input-container class="md-block" flex-gt-sm style="margin-top: -24px!important;">
                                <label>{{ 'DATE_START' | translate }}</label>
                                <md-datepicker ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.DATOS_PAGO.FD_INICIO" required disabled
                                    ng-click="($ctrl.datos.PRESUPUESTO.HOGAR.DATOS_PAGO.FD_INICIO == undefined || $ctrl.datos.PRESUPUESTO.HOGAR.DATOS_PAGO.FD_INICIO == null) ? $ctrl.datos.PRESUPUESTO.HOGAR.DATOS_PAGO.FD_INICIO = null : ''">
                                </md-datepicker>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Contacto</label>
                                <input required ng-model="$ctrl.datos.PRESUPUESTO.HOGAR.DATOS_TOMADOR.NU_TELEFONO" disabled>
                            </md-input-container>

                        </div>
                        
	            </div>
        	</md-content>
        </uib-tab>

        <uib-tab index="2" heading="Contratar" class="btn-sm">
            <md-content layout="row" layout-align="center none" layout-padding class="formCliente formClass form-scroll"
                resize ng-style="resizeHeight({{$ctrl.medidaEdicion}})">
                <div flex>
                    <div ng-include="$ctrl.loadTemplateContratar()"></div>
<!--                     <div ng-include="$ctrl.loadTemplate()"></div> -->
                </div>
            </md-content>
        </uib-tab>
        
    </uib-tabset>
    <div layout="row" layout-align="center none">
        <md-button ng-if="$ctrl.indice < 2" type="submit" class="md-raised md-primary medium-blue button-action-main" ng-click="$ctrl.indice = $ctrl.indice + 1">
            <md-icon>navigate_next</md-icon>
            Siguiente
        </md-button>
    </div>
</div>