<md-dialog style="width:45%">
	<md-toolbar>
		<div class="md-toolbar-tools" style="height:44px">
			<h2>Nuevo impuesto</h2>
			<md-button class="md-icon-button" ng-click="$ctrl.cancel()" style="right:20px; position:absolute">
	          <md-icon aria-label="Close dialog">clear</md-icon>
	        </md-button>
        </div>
	</md-toolbar>
	<ng-dialog-content>
		<div class="md-dialog-content">
			<form ng-submit="" class="formClass formCliente" name="newImpuesto" role="form">
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Fecha inicio:</label>

						<md-datepicker ng-model="$ctrl.form.FD_NACIMIENTO.value"></md-datepicker>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>% IPS: </label>
						<input type="text">
					</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>% CLEA: </label>
						<input type="text">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>OFESAUTO(&#8364;): </label>
						<input type="text">
					</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>% CCSO: </label>
						<input type="text">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Capital maximo fallecimiento (&#8364;): </label>
						<input type="text">
					</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>% CCS ACC: </label>
						<input type="text">
					</md-input-container>
				</div>
				<div class="margin-top-20" style="text-align: center">
					<md-button type="submit" class="medium-green">Guardar</md-button>
					<md-button ng-click="$ctrl.cancel()" class="medium-orange btnCancelar">Cancelar</md-button>
				</div>
			</form>
<!-- 			<div class="ui-grid grid-modal" ui-grid="$ctrl.gridClienteHistoricos" ui-grid-pagination></div> -->
		</div>
	</ng-dialog-content>
</md-dialog>
