<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<md-toolbar>
	<div class="md-toolbar-tools" style="height:44px">
        <h2>Búsqueda de Renting <i class="fa fa-magnifying-glass"></i></h2>
        <md-button class="md-icon-button filtroLateral" ng-click="$ctrl.filtro.lateral()" style="right:20px; position:absolute">
            <md-icon aria-label="Close dialog">arrow_back_ios</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content>
	<form class="formClass" id="form" ng-submit="$ctrl.buscar('solicitud')">
		<div class="form-scroll" resize ng-style="resizeHeight(261)">
			<div layout-gt-sm="row" class="margin-top-20">
		       	<md-input-container class="md-block" flex-gt-sm>
		         	<label>Solicitud</label>
		         	<input ng-model="$ctrl.form.ID_SOLICITUD.value">
		       	</md-input-container>
		       	<md-input-container class="md-block" flex-gt-sm>
		         	<label>Nº Documento</label>
 			        <input ng-model="$ctrl.form.NU_DOCUMENTO.value">
		       	</md-input-container>
			</div>
			<div layout-gt-sm="row">
		       	<md-input-container class="md-block" flex-gt-sm="50">
		         	<label>Póliza</label>
 			        <input ng-model="$ctrl.form.NU_POLIZA.value">
		       	</md-input-container>
		       	<md-input-container class="md-block" flex-gt-sm="50">
			       	<label>Canal</label>
		           	<md-select ng-model="$ctrl.form.ID_COLECTIVO">
		           		<md-option ng-repeat="canal in $ctrl.tipos.canales" ng-value="canal.ID_TIPOS">
			              	{{canal.DS_TIPOS}}
			            </md-option>
		           	</md-select>
	           	</md-input-container>
			</div>
			<div layout-gt-sm="row" style="margin-bottom:20px">
		       	<md-input-container class="md-block" flex-gt-sm>
			       	<label>Partner</label>
		           	<md-select ng-model="$ctrl.form.ID_TIPO_COLECTIVO.value">
		           		<md-option ng-repeat="colectivo in $ctrl.colectivos" ng-value="colectivo.ID_TIPO_POLIZA">
			              	{{colectivo.DS_TIPO_POLIZA}}
			            </md-option>
		           	</md-select>
	           	</md-input-container>
			</div>
			<div layout-gt-sm="row">
		       	<md-input-container class="md-block" flex-gt-sm="50">
			       	<label>Matrícula</label>
 			        <input ng-model="$ctrl.form.NU_MATRICULA.value">
	           	</md-input-container>
	           	<md-input-container class="md-block" flex-gt-sm="50">
			       	<label>Estado</label>
		           	<md-select ng-model="$ctrl.form.ID_ESTADO_SOLICITUD.value">
		           		<md-option ng-repeat="estado in $ctrl.tipos.estadoSolicitud" ng-value="estado.ID_SITUACION_SOLICITUD">
			              	{{estado.DS_SITUACION_SOLICITUD}}
			            </md-option>
		           	</md-select>
	           	</md-input-container>
			</div>
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
	        		<label>Fecha Alta desde...</label>

	          		<md-datepicker ng-model="$ctrl.form.FD_ENTRADA_FROM.value" ng-init="$ctrl.form.FD_ENTRADA_FROM.value = null"
	          					ng-click="($ctrl.form.FD_ENTRADA_FROM.value == null || $ctrl.form.FD_ENTRADA_FROM.value == undefined) ? $ctrl.form.FD_ENTRADA_FROM.value = null : ' '">
	          		</md-datepicker>
	          	</md-input-container>
	          	<md-input-container class="md-block" flex-gt-sm>
	        		<label>Fecha Alta hasta...</label>

	          		<md-datepicker ng-model="$ctrl.form.FD_ENTRADA_TO.value" ng-init="$ctrl.form.FD_ENTRADA_TO.value = null"
	          					ng-click="($ctrl.form.FD_ENTRADA_TO.value == null || $ctrl.form.FD_ENTRADA_TO.value == undefined) ? $ctrl.form.FD_ENTRADA_TO.value = null : ' '">
	          		</md-datepicker>
	          	</md-input-container>
	    	</div>
	    	<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
	        		<label>Fecha Resolución desde...</label>

	          		<md-datepicker ng-model="$ctrl.form.FD_LIMITE_FROM.value" ng-init="$ctrl.form.FD_LIMITE_FROM.value = null"
	          					ng-click="($ctrl.form.FD_LIMITE_FROM.value == null || $ctrl.form.FD_LIMITE_FROM.value == undefined) ? $ctrl.form.FD_LIMITE_FROM.value = null : ' '">
	          		</md-datepicker>
	          	</md-input-container>
	          	<md-input-container class="md-block" flex-gt-sm>
	        		<label>Fecha Resolución hasta...</label>

	          		<md-datepicker ng-model="$ctrl.form.FD_LIMITE_TO.value" ng-init="$ctrl.form.FD_LIMITE_TO.value = null"
	          					ng-click="($ctrl.form.FD_LIMITE_TO.value == null || $ctrl.form.FD_LIMITE_TO.value == undefined) ? $ctrl.form.FD_LIMITE_TO.value = null : ' '">
	          		</md-datepicker>
	          	</md-input-container>
	    	</div>
	    	<div layout-gt-sm="row">
		       	<md-input-container class="md-block" flex-gt-sm>
			       	<label>Asignado a</label>
		           	<md-select ng-model="$ctrl.form.NO_USUARIO.value">
                       	<md-option ng-value="1">García Rodriguez, Oscar</md-option>
						<md-option ng-value="2">CHACON FELIPE, DAVID</md-option>
						<md-option ng-value="3">García Alcazar, David</md-option>
						<md-option ng-value="4">BAYON OLMOS, JUAN CARLOS</md-option>
		           	</md-select>
	           	</md-input-container>
			</div>
		</div>
		<div style="text-align:center;">
			<md-button class="md-raised md-primary medium-blue button-action-main" type="submit" ng-disabled="$ctrl.parent.busqueda.vista == 2">
				<i class="fa fa-magnifying-glass"></i>
				Buscar
			</md-button>
			<md-button class="md-raised md-primary medium-blue button-action-erase" ng-click="$ctrl.limpiar()" ng-disabled="$ctrl.parent.busqueda.vista == 2">
				<i class="fa fa-trash"></i>
				LIMPIAR
			</md-button>
		</div>
	</form>
</md-content>