<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<md-toolbar>
	<div class="md-toolbar-tools" style="height:44px">
        <h2>Reclamaciones <i class="fa fa-magnifying-glass"></i></h2>
        <md-button class="md-icon-button filtroLateral" ng-click="$ctrl.filtro.lateral()" style="right:20px; position:absolute">
            <md-icon aria-label="Close dialog">arrow_back_ios</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content>
	<form class="formClass" id="form" ng-submit="$ctrl.buscar('reclamaciones')">
		<div class="form-scroll" resize ng-style="resizeHeight(261)">
			<div layout-gt-sm="row" class="margin-top-20">
		       	<md-input-container class="md-block" flex-gt-sm>
		         	<label>Reclamación</label>
		         	<input ng-model="$ctrl.form.ID_SOLICITUD.value">
		       	</md-input-container>
		       	<md-input-container class="md-block" flex-gt-sm>
		         	<label>NIF</label>
 			        <input ng-model="$ctrl.form.NU_DOCUMENTO.value">
		       	</md-input-container>
			</div>
			<div layout-gt-sm="row">
		       	<md-input-container class="md-block" flex-gt-sm="45">
		         	<label>Póliza</label>
 			        <input ng-model="$ctrl.form.NU_POLIZA.value">
		       	</md-input-container>
		       	<md-autocomplete name="Canal" md-no-cache="$ctrl.noCache" flex
                	md-search-text="$ctrl.searchCanal"
	                md-items="item in $ctrl.parent.querySearch($ctrl.searchCanal, $ctrl.tipos.canales, 'DS_TIPOS')"
	                md-item-text="item.DS_TIPOS" md-min-length="0"
	                md-floating-label="Canal"
	                md-selected-item="$ctrl.autocomplete.CANAL"
	                md-selected-item-change="$ctrl.form.ID_TIPO.value = $ctrl.autocomplete.CANAL.ID_TIPOS">
	                <md-item-template>
	                    <span md-highlight-text="$ctrl.searchCanal"
	                        md-highlight-flags="^i">{{item.DS_TIPOS}}</span>
	                </md-item-template>
	                <md-not-found>
	                    No existe el canal "{{$ctrl.searchCanal}}".
	                </md-not-found>
	            </md-autocomplete>
	          </div>
			  <div layout-gt-sm="row">
			  	<md-input-container class="md-block" flex-gt-sm="45">
		   			<label>Motivo de reclamación</label>
					<md-select ng-model="$ctrl.form.ID_MOTIVO.value">
						<md-option ng-repeat="motivo in $ctrl.motivos" ng-value="motivo.ID_MOTIVO">{{motivo.DS_MOTIVO}}</md-option>
					</md-select>
				</md-input-container>
	           	<md-autocomplete name="Estado" md-no-cache="$ctrl.noCache" flex
                	md-search-text="$ctrl.searchEstado"
	                md-items="item in $ctrl.parent.querySearch($ctrl.searchEstado, $ctrl.tipos.estadoSolicitud, 'DS_SITUACION_SOLICITUD')"
	                md-item-text="item.DS_SITUACION_SOLICITUD" md-min-length="0"
	                md-floating-label="Estado"
	                md-selected-item="$ctrl.autocomplete.ESTADO"
	                md-selected-item-change="$ctrl.form.ID_SITUACION_SOLICITUD.value = $ctrl.autocomplete.ESTADO.ID_SITUACION_SOLICITUD">
	                <md-item-template>
	                    <span md-highlight-text="$ctrl.searchEstado"
	                        md-highlight-flags="^i">{{item.DS_SITUACION_SOLICITUD}}</span>
	                </md-item-template>
	                <md-not-found>
	                    No existe el estado "{{$ctrl.searchEstado}}".
	                </md-not-found>
	            </md-autocomplete>
			</div>
			<div layout-gt-sm="row">
			  <md-autocomplete name="Aseguradora" flex-gt-sm md-no-cache="$ctrl.noCache"
                    md-search-text="$ctrl.textoBusquedaAseguradora"
                    md-items="aseguradora in $ctrl.parent.querySearch($ctrl.textoBusquedaAseguradora, $ctrl.companias, 'DS_SITUACION_CLIENTE')"
                    md-item-text="aseguradora.DS_SITUACION_CLIENTE" md-min-length="0" md-require-match
                    md-floating-label="Jur&#237;dica"
                    md-selected-item="$ctrl.autocomplete.SITUACION"                
	                md-selected-item-change="$ctrl.form.ID_SITUACION_CLIENTE.value = $ctrl.autocomplete.SITUACION.ID_SITUACION_CLIENTE">
                  <md-item-template>
                    <span md-highlight-text="$ctrl.textoBusquedaAseguradora"
                    md-highlight-flags="^i">{{aseguradora.DS_SITUACION_CLIENTE}}</span>
                  </md-item-template>
                  <md-not-found>
                    No existe la aseguradora '{{$ctrl.textoBusquedaAseguradora}}'.
                  </md-not-found>
              </md-autocomplete>
			</div>
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
	        		<label>Fecha Alta desde...</label>

	          		<md-datepicker ng-model="$ctrl.form.FD_ENTRADA_FROM.value" ng-init="$ctrl.form.FD_ENTRADA_FROM.value = null"
	          					ng-click="($ctrl.form.FD_ENTRADA_FROM.value == null || $ctrl.form.FD_ENTRADA_FROM.value == undefined) ? $ctrl.form.FD_ENTRADA_FROM.value = null : ' '">
	          		</md-datepicker>
	          	</md-input-container>
	          	<md-input-container class="md-block" flex-gt-sm>
	        		<label>Fecha Alta hasta...</label>

	          		<md-datepicker ng-model="$ctrl.form.FD_ENTRADA_TO.value" ng-init="$ctrl.form.FD_ENTRADA_TO.value = null"
	          					ng-click="($ctrl.form.FD_ENTRADA_TO.value == null || $ctrl.form.FD_ENTRADA_TO.value == undefined) ? $ctrl.form.FD_ENTRADA_TO.value = null : ' '">
	          		</md-datepicker>
	          	</md-input-container>
	    	</div>
	    	<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
	        		<label>Fecha Resolución desde...</label>

	          		<md-datepicker ng-model="$ctrl.form.FD_LIMITE_FROM.value" ng-init="$ctrl.form.FD_LIMITE_FROM.value = null"
	          					ng-click="($ctrl.form.FD_LIMITE_FROM.value == null || $ctrl.form.FD_LIMITE_FROM.value == undefined) ? $ctrl.form.FD_LIMITE_FROM.value = null : ' '">
	          		</md-datepicker>
	          	</md-input-container>
	          	<md-input-container class="md-block" flex-gt-sm>
	        		<label>Fecha Resolución hasta...</label>

	          		<md-datepicker ng-model="$ctrl.form.FD_LIMITE_TO.value" ng-init="$ctrl.form.FD_LIMITE_TO.value = null"
	          					ng-click="($ctrl.form.FD_LIMITE_TO.value == null || $ctrl.form.FD_LIMITE_TO.value == undefined) ? $ctrl.form.FD_LIMITE_TO.value = null : ' '">
	          		</md-datepicker>
	          	</md-input-container>
	    	</div>
	    	<div layout-gt-sm="row">
		       	<md-autocomplete name="Asignado a" md-no-cache="$ctrl.noCache" flex-gt-sm="100" class="autocompleteGeneral"
                	md-search-text="$ctrl.searchAsignado"
	                md-items="item in $ctrl.parent.querySearch($ctrl.searchAsignado, $ctrl.usuarios, 'NO_USUARIO')"
	                md-item-text="item.NO_USUARIO" md-min-length="0"
	                md-floating-label="Asignado a"
	                md-selected-item="$ctrl.autocomplete.ASIGNADO"
	                md-selected-item-change="$ctrl.form.ID.value = $ctrl.autocomplete.ASIGNADO.ID">
	                <md-item-template>
	                    <span md-highlight-text="$ctrl.searchAsignado"
	                        md-highlight-flags="^i">{{item.NO_NOMBRECOMPLETO}}</span>
	                </md-item-template>
	                <md-not-found>
	                    No existe el usuario "{{$ctrl.searchAsignado}}".
	                </md-not-found>
	            </md-autocomplete>
			</div>
		</div>
		<div style="text-align:center;">
			<md-button class="md-raised md-primary medium-blue button-action-main" type="submit" ng-disabled="$ctrl.parent.busqueda.vista == 2">
				<i class="fa fa-magnifying-glass"></i>
				Buscar
			</md-button>
			<md-button class="md-raised md-primary medium-blue button-action-erase" ng-click="$ctrl.limpiar()" ng-disabled="$ctrl.parent.busqueda.vista == 2">
				<i class="fa fa-trash"></i>
				LIMPIAR
			</md-button>
		</div>
	</form>
</md-content>