<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<md-content style="background-color:white">

    <div layout-gt-sm="row" class="inputs-without-label-value" style="background-color:white; margin-top: 15px;margin-left: 13px;margin-right: 10px" ng-style="{'border-left' :$ctrl.desplegado == true ? '3px solid #0066ff' : '0px solid #0066ff'}">
        <h3 ng-hide="$ctrl.desplegado == false" style="text-transform: uppercase; padding-left: 15px;" flex-gt-sm="25" >
			<span style="color:#5e5e5e!important">
				{{ 'SEARCH' | translate }} DE</span><span style="color:#0066ff!important"> {{ 'SEARCH_CLIENT' | translate }}
			</span>
            <div layout-gt-sm="row">
                <h6 style="text-align: center;text-transform: uppercase">BÚSQUEDA Y GESTIÓN DE CLIENTES</h6>
            </div>
        </h3>
    </div>

	<div layout-gt-sm="row">
		<a ng-click="$ctrl.showBasicSearch()" ng-if="$ctrl.basicSearch == true">{{ 'SHOW_SEARCH_FIELDS' | translate }}</a>
	</div>
	
    <form ng-hide="$ctrl.desplegado == false" class="fade-out formClass" id="form" ng-submit="$ctrl.buscar('clientes')">
        <div class="form-scroll" resize>
            <div layout-gt-sm="row" class="margin-top-20">
                <md-input-container class="md-block" flex-gt-sm="10">
                    <label><i class="fa-solid fa-fingerprint" style="margin-right:5px"></i>{{ 'DOCUMENT_NUMBER' | translate }}</label>
                    <input ng-model="$ctrl.form.NU_DOCUMENTO.value">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="15">
                    <label>{{ 'POLICY_NU' | translate }}</label>
                    <input ng-model="$ctrl.form.NU_POLIZA.value">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="20">
                    <label>{{ 'FULL_NAME' | translate }}</label>
                    <input ng-model="$ctrl.form.NO_NOMBRE_COMPLETO.value">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="10">
                    <label>{{ 'NAME' | translate }}</label>
                    <input ng-model="$ctrl.form.NO_NOMBRE.value">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm="15">
                    <label>{{ 'SURNAME' | translate }}</label>
                    <input ng-model="$ctrl.form.NO_APELLIDO1.value">
                </md-input-container>
            </div>
        </div>
        <div style="text-align:center;">
            <md-button class="md-raised md-primary medium-blue button-action-main" type="submit" ng-disabled="$ctrl.parent.busqueda.vista == 2">
				<i class="fa fa-magnifying-glass"></i>
				{{ 'SEARCH_BTN' | translate }}
			</md-button>
			<md-button class="md-raised md-primary medium-blue button-action-erase" ng-click="$ctrl.limpiar()" ng-disabled="$ctrl.parent.busqueda.vista == 2">
				<i class="fa fa-trash"></i>
				{{ 'CLEAN' | translate }}
			</md-button>
        </div>
    </form>
</md-content>