<!--
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
-->
<div layout="row" layout-align="center center">
	<div class="formClass margin-top-60" id="form" ng-form="$ctrl.informeSiniestros" flex="80" flex-gt-md="60">
		<div class="filtroInformesContainer">
			<div class="tituloFiltroInformes">
				<h3>Siniestros</h3>
			</div>
			<div layout-gt-sm="row" class="margin-top-20">
				<md-input-container class="md-block" flex="50">
		         	<label>{{ 'PRODUCT' | translate }}</label>
		         	<md-select ng-change="$ctrl.changePrograma()" ng-model="$ctrl.ID_PROGRAMA" multiple>
						<md-option ng-repeat="programa in $ctrl.tipos.programa" ng-value="programa.ID_PROGRAMA">
		<!-- 				   {{programa.DS_PROGRAMA}} -->
		               		{{$ctrl.parent.getDescriptivo(programa, 'DS_PROGRAMA')}}
					 	</md-option>
					</md-select>
		       	</md-input-container>
				<md-input-container class="md-block ic-margin" flex-gt-sm="50">
					<label>{{ 'PARTNER' | translate }}</label>
					<md-select ng-model="$ctrl.form.LST_ID_TIPO_POLIZA" multiple>
						<md-option ng-class="{'optionPadre': colectivo.IS_PADRE == true, 'optionHijo': colectivo.IS_PADRE != true}" ng-click="$ctrl.changeColectivos(colectivo)" ng-repeat="colectivo in $ctrl.tipos.colectivosProducto" ng-value="colectivo.ID_TIPO_POLIZA">
							<span>{{colectivo.DS_TIPO_POLIZA}}</span>
						</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div layout-gt-sm="row">
			  	<md-input-container class="md-block" flex-gt-sm="50">
		         	<label>Estado Siniestro</label>
		         	<md-select ng-model="$ctrl.form.ID_ESTADO_SINIESTRO">
		         		<md-option ng-repeat="tipo in $ctrl.tipos.estados" ng-value="tipo.ID_ESTADO_SINIESTRO">
		<!-- 	             	{{tipo.DS_ESTADO_SINIESTRO}} -->
		               		{{$ctrl.parent.getDescriptivo(tipo, 'DS_ESTADO_SINIESTRO')}}
			           	</md-option>
		         	</md-select>
		       	</md-input-container>
		      	<md-input-container class="md-block min-w-160" flex-gt-sm>
		      		<label>Fecha Ocurrencia desde...</label>

		        		<md-datepicker ng-required="$ctrl.fechaRequiredSiniestro('FD_OCURRENCIA_FROM')" ng-click="($ctrl.form.FD_OCURRENCIA_FROM == null || $ctrl.form.FD_OCURRENCIA_FROM == undefined) ? $ctrl.form.FD_OCURRENCIA_FROM = null : ''" ng-model="$ctrl.form.FD_OCURRENCIA_FROM" ></md-datepicker>
		       	</md-input-container>
		       	<md-input-container class="md-block min-w-160" flex-gt-sm>
		        		<label>Fecha Ocurrencia hasta...</label>

		        		<md-datepicker ng-required="$ctrl.fechaRequiredSiniestro('FD_OCURRENCIA_TO')" ng-click="($ctrl.form.FD_OCURRENCIA_TO == null || $ctrl.form.FD_OCURRENCIA_TO == undefined) ? $ctrl.form.FD_OCURRENCIA_TO = null : ''" ng-model="$ctrl.form.FD_OCURRENCIA_TO" ></md-datepicker>
		       	</md-input-container>
			</div>
			
			<div layout-gt-sm="row">
		       	<md-input-container class="md-block min-w-160" flex-gt-sm="25" >
		       		<label>Fecha Apertura desde...</label>

		         		<md-datepicker ng-required="$ctrl.fechaRequiredSiniestro('FD_APERTURA_FROM')" ng-click="($ctrl.form.FD_APERTURA_FROM == null || $ctrl.form.FD_APERTURA_FROM == undefined) ? $ctrl.form.FD_APERTURA_FROM = null : ''" ng-model="$ctrl.form.FD_APERTURA_FROM" ></md-datepicker>
		       	</md-input-container>
		       	<md-input-container class="md-block min-w-160" flex-gt-sm="25">
		         		<label>Fecha Apertura hasta...</label>

		         		<md-datepicker ng-required="$ctrl.fechaRequiredSiniestro('FD_APERTURA_TO')" ng-click="($ctrl.form.FD_APERTURA_TO == null || $ctrl.form.FD_APERTURA_TO == undefined) ? $ctrl.form.FD_APERTURA_TO = null : ''" ng-model="$ctrl.form.FD_APERTURA_TO" ></md-datepicker>
		       	</md-input-container>
		       	<md-input-container class="md-block min-w-160" flex-gt-sm="25">
		       		<label>Fecha Cierre desde...</label>

		         		<md-datepicker ng-required="$ctrl.fechaRequiredSiniestro('FD_CIERRE_FROM')" ng-click="($ctrl.form.FD_CIERRE_FROM == null || $ctrl.form.FD_CIERRE_FROM == undefined) ? $ctrl.form.FD_CIERRE_FROM = null : ''" ng-model="$ctrl.form.FD_CIERRE_FROM" required></md-datepicker>
		       	</md-input-container>
		       	<md-input-container class="md-block min-w-160" flex-gt-sm="25">
		         		<label>Fecha Cierre hasta...</label>

		         		<md-datepicker ng-required="$ctrl.fechaRequiredSiniestro('FD_CIERRE_TO')" ng-click="($ctrl.form.FD_CIERRE_TO == null || $ctrl.form.FD_CIERRE_TO == undefined) ? $ctrl.form.FD_CIERRE_TO = null : ''" ng-model="$ctrl.form.FD_CIERRE_TO" required></md-datepicker>
		       	</md-input-container>
		   	</div>
			
			<div layout-gt-sm="row" class="margin-top-20">
				<div flex-gt-sm="20">
					<md-radio-group ng-change="$ctrl.changeTipoSiniestro()" ng-init="$ctrl.tipo = 'detalle'" layout-gt-sm="row" style="margin-bottom:10px; margin-left:20px;" ng-model="$ctrl.tipo" class="margenPresupuestos" required>
						<md-radio-button ng-value="'detalle'">
							{{ 'DETAIL_MOVEMENTS' | translate}}
						</md-radio-button>
						<md-radio-button ng-value="'movimientos'">
							Movimientos Siniestro
						</md-radio-button>
					</md-radio-group>
			  	</div>
		    </div>
			
			<div layout-gt-sm="row" ng-if="$ctrl.tipo == 'movimientos'" class="margin-top-20">
				<md-input-container class="md-block" flex-gt-sm="30">
		         	<label>{{ 'SUPPLIER' | translate}}</label>
		         	<md-select ng-model="$ctrl.form.NU_DOCUMENTO">
		         		<md-option ng-repeat="tipo in $ctrl.tipos.proveedores" ng-if="tipo.NU_CIF != null && tipo.NO_COMERCIAL != null" ng-value="tipo.NU_CIF">
		<!-- 	             	{{tipo.DS_ESTADO_SINIESTRO}} -->
		               		{{$ctrl.parent.getDescriptivo(tipo, 'NO_COMERCIAL')}}
			           	</md-option>
		         	</md-select>
		       	</md-input-container>
			</div>
			<div layout-gt-sm="row" ng-if="$ctrl.tipo == 'movimientos'" class="margin-top-20">
		       	<md-input-container class="md-block min-w-160" flex-gt-sm="25">
		       		<label>Fecha Movimiento desde...</label>

		       		<md-datepicker ng-required="$ctrl.fechaRequiredSiniestro('FD_CRITERIO_FROM')" ng-click="($ctrl.form.FD_CRITERIO_FROM == null || $ctrl.form.FD_CRITERIO_FROM == undefined) ? $ctrl.form.FD_CRITERIO_FROM = null : ''" ng-model="$ctrl.form.FD_CRITERIO_FROM" ></md-datepicker>
		       	</md-input-container>
		       	<md-input-container class="md-block min-w-160" flex-gt-sm="25">
		       		<label>Fecha Movimiento hasta...</label>

		       		<md-datepicker ng-required="$ctrl.fechaRequiredSiniestro('FD_CRITERIO_TO')" ng-click="($ctrl.form.FD_CRITERIO_TO == null || $ctrl.form.FD_CRITERIO_TO == undefined) ? $ctrl.form.FD_CRITERIO_TO = null : ''" ng-model="$ctrl.form.FD_CRITERIO_TO" ></md-datepicker>
		       	</md-input-container>
		       	<md-input-container class="md-block min-w-160" flex-gt-sm="25">
		       		<label>Fecha Pago desde...</label>

		       		<md-datepicker ng-required="$ctrl.fechaRequiredSiniestro('FD_LIQUIDADO_FROM')" ng-click="($ctrl.form.FD_LIQUIDADO_FROM == null || $ctrl.form.FD_LIQUIDADO_FROM == undefined) ? $ctrl.form.FD_LIQUIDADO_FROM = null : ''" ng-model="$ctrl.form.FD_LIQUIDADO_FROM"></md-datepicker>
		       	</md-input-container>
		       	<md-input-container class="md-block min-w-160" flex-gt-sm="25">
		       		<label>Fecha Pago hasta...</label>

		       		<md-datepicker ng-required="$ctrl.fechaRequiredSiniestro('FD_LIQUIDADO_TO')" ng-click="($ctrl.form.FD_LIQUIDADO_TO == null || $ctrl.form.FD_LIQUIDADO_TO == undefined) ? $ctrl.form.FD_LIQUIDADO_TO = null : ''" ng-model="$ctrl.form.FD_LIQUIDADO_TO"></md-datepicker>
		       	</md-input-container>
		   	</div>
		   	
			<div layout="row" layout-align="end center" class="margin-top-20" ng-if="$ctrl.cargando == false">
				<!-- <md-button class="md-raised md-primary dark-blue" ng-click="$ctrl.exportarPDF()"> -->
		        <md-button class="md-raised md-primary medium-blue button-action-main" form="formInforme" ng-click="$ctrl.validarFormulario($ctrl.informeSiniestros.$valid, 'xls')">
					<i class="fa-duotone fa-download" style="margin-right: 5px"></i>
					{{ 'GENERATE_REPORT' | translate | uppercase}}
				</md-button>
				<md-button class="md-raised md-primary medium-blue button-action-erase" ng-click="$ctrl.limpiar($ctrl.form)">
					<i class="fa fa-trash" style="margin-right: 5px"></i>
					{{ 'CLEAN' | translate | uppercase }}
				</md-button>
			</div>
		</div>
	
		<div id="buscandoGif" style="width: 100%; margin: 10% auto 0;" ng-if="$ctrl.cargando == true">
			<div class="centered" style="height: 100%; margin: 0 auto;">
				<div class="blob-3"></div>
				<div class="blob-4"></div>
			</div>
		</div>
	</div>
</div>